h1(class='s-simple-title  u-fs-h5x') Fit Vids
h2.s-simple-title--sub Fit Vids
.s-simple-modules.m-fit-vids
  iframe(src="//player.vimeo.com/video/75659577", width="500", height="281", frameborder="0", webkitallowfullscreen="", mozallowfullscreen="", allowfullscreen="")
  p(class='+u-fs-h7  u-s-mt-1/2')
    a(href="http://vimeo.com/75659577") Palms Future Warrior [Official music video]
    | from
    a(href="http://vimeo.com/user13913534") Keano Valles
    | on
    a(href="https://vimeo.com") Vimeo.
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html

.s-simple-modules.m-fit-vids
  iframe(width="560", height="315", src="https://www.youtube.com/embed/SEOzO_tXD44", frameborder="0", allowfullscreen="")
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html