h1(class='s-simple-title  u-fs-h5x') Fit Text
h2.s-simple-title--sub FitText
.s-simple-modules
  .m-fit-text
    h1(class='u-s-mb-0') fit text
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html