h1(class='s-simple-title  u-fs-h5x') Fluid Social
h2.s-simple-title--sub Fluid Social
.s-simple-modules.fluid-social
  ul(class='u-list-unstyled  m-fluid-social')
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-twitter' href='/')
        img(src="../../assets/images/social/twitter.svg", alt="twitter")
        span(class='u-visually-hidden') link to twitter
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-gimmebar' href='//simoneramo')
        img(src="../../assets/images/social/gimmebar.svg", alt="gimmiebar")
        span(class='u-visually-hidden') link to gimmiebar
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-github' href='/')
        img(src="../../assets/images/social/github.svg", alt="tumblr")
        span(class='u-visually-hidden') link to github
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-instagram' href='/')
        img(src="../../assets/images/social/instagram.svg", alt="wordpress")
        span(class='u-visually-hidden') link to instagram
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-dribble' href='/')
        img(src="../../assets/images/social/dribble.svg", alt="dribble")
        span(class='u-visually-hidden') link to dribble
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-behance' href='/')
        img(src="../../assets/images/social/behance.svg", alt="twitter")
        span(class='u-visually-hidden') link to twitter
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-blogger' href='/')
        img(src="../../assets/images/social/blogger.svg", alt="blogger")
        span(class='u-visually-hidden') link to blogger
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-kirby' href='/')
        img(src="../../assets/images/social/kirby.svg", alt="tumblr")
        span(class='u-visually-hidden') link to github
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-tumblr' href='/')
        img(src="../../assets/images/social/tumblr.svg", alt="wordpress")
        span(class='u-visually-hidden') link to instagram
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-typepad' href='/')
        img(src="../../assets/images/social/typepad.svg", alt="typepad")
        span(class='u-visually-hidden') link to typepad
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-wordpress' href='/')
        img(src="../../assets/images/social/wordpress.svg", alt="twitter")
        span(class='u-visually-hidden') link to twitter
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-squarespace' href='/')
        img(src="../../assets/images/social/squarespace.svg", alt="squarespace")
        span(class='u-visually-hidden') link to squarespace
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-joomla' href='/')
        img(src="../../assets/images/social/joomla.svg", alt="tumblr")
        span(class='u-visually-hidden') link to github
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-html' href='/')
        img(src="../../assets/images/social/html.svg", alt="wordpress")
        span(class='u-visually-hidden') link to instagram
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-moveabletype' href='/')
        img(src="../../assets/images/social/moveabletype.svg", alt="moveabletype")
        span(class='u-visually-hidden') link to moveabletype
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-expression-engine' href='/')
        img(src="../../assets/images/social/expression-engine.svg", alt="engine")
        span(class='u-visually-hidden') link to engine
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-soundcloud' href='/')
        img(src="../../assets/images/social/soundcloud.svg", alt="soundcloud")
        span(class='u-visually-hidden') link to soundcloud
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-yahoo' href='/')
        img(src="../../assets/images/social/yahoo.svg", alt="yahoo")
        span(class='u-visually-hidden') link to yahoo
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-dropbox' href='/')
        img(src="../../assets/images/social/dropbox.svg", alt="dropbox")
        span(class='u-visually-hidden') link to dropbox
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-pinterest' href='/')
        img(src="../../assets/images/social/pinterest.svg", alt="pinterest")
        span(class='u-visually-hidden') link to pinterest
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-kickstarter' href='/')
        img(src="../../assets/images/social/kickstarter.svg", alt="kickstarter")
        span(class='u-visually-hidden') link to kickstarter
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-rss' href='/')
        img(src="../../assets/images/social/rss.svg", alt="rss")
        span(class='u-visually-hidden') link to rss
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-youtube' href='/')
        img(src="../../assets/images/social/youtube.svg", alt="youtube")
        span(class='u-visually-hidden') link to youtube
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-vimeo' href='/')
        img(src="../../assets/images/social/vimeo.svg", alt="vimeo")
        span(class='u-visually-hidden') link to vimeo
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-flickr' href='/')
        img(src="../../assets/images/social/flickr.svg", alt="flickr")
        span(class='u-visually-hidden') link to flickr
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-facebook' href='/')
        img(src="../../assets/images/social/facebook.svg", alt="facebook")
        span(class='u-visually-hidden') link to facebook
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-codepen' href='/')
        img(src="../../assets/images/social/codepen.svg", alt="codepen")
        span(class='u-visually-hidden') link to codepen
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-delicious' href='/')
        img(src="../../assets/images/social/delicious.svg", alt="delicious")
        span(class='u-visually-hidden') link to delicious
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-apple' href='/')
        img(src="../../assets/images/social/apple.svg", alt="apple")
        span(class='u-visually-hidden') link to apple
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-android' href='/')
        img(src="../../assets/images/social/android.svg", alt="android")
        span(class='u-visually-hidden') link to android
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-google-drive' href='/')
        img(src="../../assets/images/social/google-drive.svg", alt="drive")
        span(class='u-visually-hidden') link to drive
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-googleplus' href='/')
        img(src="../../assets/images/social/googleplus.svg", alt="googleplus")
        span(class='u-visually-hidden') link to googleplus
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-foursquare' href='/')
        img(src="../../assets/images/social/foursquare.svg", alt="foursquare")
        span(class='u-visually-hidden') link to foursquare
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-vine' href='/')
        img(src="../../assets/images/social/vine.svg", alt="squarespace")
        span(class='u-visually-hidden') squarespace
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-lastfm' href='/')
        img(src="../../assets/images/social/lastfm.svg", alt="lastfm")
        span(class='u-visually-hidden') link to lastfm
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-linkedin' href='/')
        img(src="../../assets/images/social/linkedin.svg", alt="linkedin")
        span(class='u-visually-hidden') link to linkedin
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-skype' href='/')
        img(src="../../assets/images/social/skype.svg", alt="skype")
        span(class='u-visually-hidden') link to skype
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-forrst' href='/')
        img(src="../../assets/images/social/forrst.svg", alt="forrst")
        span(class='u-visually-hidden') link to forrst
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-digg' href='/')
        img(src="../../assets/images/social/digg.svg", alt="digg")
        span(class='u-visually-hidden') link to digg
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-disqus' href='/')
        img(src="../../assets/images/social/disqus.svg", alt="disqus")
        span(class='u-visually-hidden') link to disqus
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-paypal' href='/')
        img(src="../../assets/images/social/paypal.svg", alt="paypal")
        span(class='u-visually-hidden') link to paypal
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-drupal' href='/')
        img(src="../../assets/images/social/drupal.svg", alt="drupal")
        span(class='u-visually-hidden') link to drupal
    li.m-fluid-social__item
      a(class='u-r-all  u-bgc-swarm' href='/')
        img(src="../../assets/images/social/swarm.svg", alt="swarm")
        span(class='u-visually-hidden') link to swarm
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html