h1(class='s-simple-title  u-fs-h5x') Fluid Box
h2.s-simple-title--sub Fluid Box
.s-simple-modules.m-fluidbox
  a(class='fluidbox' href='../../assets/images/placeholders/image-placeholder--01.jpg')
    img(src="../../assets/images/placeholders/image-placeholder--01.jpg" alt='')
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
.s-simple-modules.m-fluidbox
  a(class='fluidbox' href='http://i.imgur.com/uDPcnM3.jpg')
    img(class='o-image--center' src="http://i.imgur.com/uDPcnM3.jpg'" alt='')
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html