h1(class='s-simple-title  u-fs-h5x') Hamburger
h2.s-simple-title--sub Default
.s-simple-modules.menu-burger
  button(type="button" class="m-burger")
    i
.s-simple-code
  include ../code/modules/hamburger.html