h1(class='s-simple-title  u-fs-h5x') Hightlight
h2.s-simple-title--sub CSS
.s-simple-modules.hightlight
  include ../code/highlight/highlight-code-css.html
h2.s-simple-title--sub SCSS
.s-simple-modules.hightlight
  include ../code/highlight/highlight-code-scss.html
h2.s-simple-title--sub HTML
.s-simple-modules.hightlight
  include ../code/highlight/highlight-code-html.html
h2.s-simple-title--sub Javascript
.s-simple-modules.hightlight
  include ../code/highlight/highlight-code-javascript.html