/* ==========================================================================
   Common Objects - Block List
   ========================================================================== */

  .o-block-list {
    @include list-unstyled;

    > li, > dd, > dt{
      padding: $space;
    }

    > dt{
      padding-bottom: 0;
    }



  }

    .o-block-list--bordered {
      border:0 solid $c-object;
      border-top-width:1px;
      border-left-width:1px;
      border-right-width:1px;

      > li, > dd{
        border:0 solid $c-object;
        border-bottom-width:1px;
        padding:$space;
      }
    }