h1(class='s-simple-title  u-fs-h5x') Base Lists
h2.s-simple-title--sub Ordered lists
.s-simple-base.lists
  p(class='u-s-disable') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
  ol
    li list item 1
    li
      | list item 1
      ol
        li
          a(href='base.html') list item 2 link
        li
          | list item 2
          ol
            li list item 3
            li list item 3
              ol
                li list item 4
                li
                  | list item 4
                  ol
                    li list item 5
                    li list item 5
        li list item 2
        li list item 2
        li list item 2
        li list item 2
    li list item 1
    li list item 1
  p(class='u-s-disable') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Unordered lists
.s-simple-base.lists
  p(class='u-s-disable') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
  ul
    li list item 1
    li
      | list item 1
      ul
        li list item 2
        li
          | list item 2
          ul
            li list item 3
            li list item 3
        li list item 2
        li list item 2
    li list item 1
    li list item 1
  p(class='u-s-disable') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Definition list
.s-simple-base.lists
  p(class='u-s-disable') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
  dl
    dt Definition name
    dd
      a(href='base.html') Definition value link
    dt Definition name
    dd Definition value
    dd Definition value
    dt Definition name
    dt Definition name
    dd Definition value
  p(class='u-s-disable') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html