h1(class='s-simple-title  u-fs-h5x') Base Text
h2.s-simple-title--sub All
.s-simple-base.typography
  p
    abbr(title='Title text') abbr element
  p
    b b element
  p
    cite cite element
  p
    del del element
  p
    dfn dfn element
  p
    em em element
  p
    i i element img element
  p
    ins ins element
  p
    kbd kbd element
  p
    mark mark element
  p
    s s element
  p
    samp samp element
  p
    small small element
  p
    span span element
  p
    strike strike element
  p
    strong strong element
  p this is the
    sub sub element
  p this is the
    sup sup element
  p
    var var element
  p
    u u element
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub All Inside Paragraph
.s-simple-base.typography
  p(class='u-c-gray')
    | Lorem ipsum dolor sit amet,
    abbr(class='u-c-black'  title='Title text') abbr element
    | Lorem ipsum dolor sit amet,
    b(class='u-c-black') b element
    | Lorem ipsum dolor sit amet,
    cite(class='u-c-black') cite element
    | Lorem ipsum dolor sit amet,
    del(class='u-c-black') del element
    | Lorem ipsum dolor sit amet,
    dfn(class='u-c-black') dfn element
    | Lorem ipsum dolor sit amet,
    em(class='u-c-black') em element
    | Lorem ipsum dolor sit amet,
    i i(class='u-c-black') element
    | Lorem ipsum dolor sit amet,
    ins(class='u-c-black') ins element
    | Lorem ipsum dolor sit amet,
    kbd(class='u-c-black') kbd element
    | Lorem ipsum dolor sit amet,
    mark(class='u-c-black') mark element
    | Lorem ipsum dolor sit amet,
    s(class='u-c-black') s element
    | Lorem ipsum dolor sit amet,
    samp(class='u-c-black') samp element
    | Lorem ipsum dolor sit amet,
    small(class='u-c-black') small element
    | Lorem ipsum dolor sit amet,
    span(class='u-c-black') span element
    | Lorem ipsum dolor sit amet,
    strike(class='u-c-black') strike element
    | Lorem ipsum dolor sit amet,
    strong(class='u-c-black') strong element
    | Lorem ipsum dolor sit amet,
    sub(class='u-c-black') sub element
    | Lorem ipsum dolor sit amet,
    sup(class='u-c-black') sup element
    | Lorem ipsum dolor sit amet,
    var(class='u-c-black') var element
    | Lorem ipsum dolor sit amet,
    u(class='u-c-black') u element
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html