doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    include ../../_partials/site/compatibility-mode
    title Core Sink
    include ../../_partials/site/description
    include ../../_partials/site/meta-viewport

    include ../../_partials/site/favicon
    //- or

    //- include ../../_partials/site/favicon-png

    //-include ../../_partials/site/metaquery

    //- include ../../_partials/site/icon-chrome-android

    //- include ../../_partials/site/icon-safari-ios

    //- include ../../_partials/site/icon-tile-win8

    //- include ../../_partials/site/if-mobile-url

    link(type='text/css', rel='stylesheet', href='../../assets/css/main.css')
  body.s-simple
    .l-simple-container(class='u-s-mt-2')
      h1.u-fs-h1x.u-ta-center(class='u-s-mb-1/6') Simple Css
      ul(class='o-nav  o-nav--banner  u-s-mb-4')
        li
          a(class='o-btn' href='../base') base
        li
          a(class='o-btn' href='../objects') objects
        li
          a(class='o-btn' href='../utilities') utilities
        li
          a(class='o-btn  u-s-active' href='../sink') sink
        li
          a(class='o-btn' href='../modules') modules
        li
          a(class='o-btn' href='../config') config
        li
          a(class='o-btn' href='../mixins') mixins


      //- base
      include ../../_partials/simple-partials/base/code
      include ../../_partials/simple-partials/base/links
      include ../../_partials/simple-partials/base/lists
      include ../../_partials/simple-partials/base/media
      include ../../_partials/simple-partials/base/quotes
      include ../../_partials/simple-partials/base/text

      //- objects
      include ../../_partials/simple-partials/objects/alert
      include ../../_partials/simple-partials/objects/block-list
      include ../../_partials/simple-partials/objects/blockquote
      include ../../_partials/simple-partials/objects/breadcrumbs
      include ../../_partials/simple-partials/objects/button-groups
      include ../../_partials/simple-partials/objects/buttons
      include ../../_partials/simple-partials/objects/columns
      include ../../_partials/simple-partials/objects/figure
      include ../../_partials/simple-partials/objects/flag
      include ../../_partials/simple-partials/objects/flyout
      include ../../_partials/simple-partials/objects/forms
      include ../../_partials/simple-partials/objects/icon-fonts
      include ../../_partials/simple-partials/objects/icon-text
      include ../../_partials/simple-partials/objects/images
      include ../../_partials/simple-partials/objects/island
      include ../../_partials/simple-partials/objects/labels
      include ../../_partials/simple-partials/objects/lists
      include ../../_partials/simple-partials/objects/lists
      include ../../_partials/simple-partials/objects/loaders
      include ../../_partials/simple-partials/objects/matrix
      include ../../_partials/simple-partials/objects/media
      include ../../_partials/simple-partials/objects/nav
      include ../../_partials/simple-partials/objects/options
      include ../../_partials/simple-partials/objects/pagination
      include ../../_partials/simple-partials/objects/progress-bars
      include ../../_partials/simple-partials/objects/rules
      include ../../_partials/simple-partials/objects/split
      include ../../_partials/simple-partials/objects/sprite
      include ../../_partials/simple-partials/objects/stats
      include ../../_partials/simple-partials/objects/tables
      include ../../_partials/simple-partials/objects/tabs
      include ../../_partials/simple-partials/objects/this-or-this
      include ../../_partials/simple-partials/objects/thumbnail

      //- utilities
      include ../../_partials/simple-partials/utilities/alert
      include ../../_partials/simple-partials/utilities/colours
      include ../../_partials/simple-partials/utilities/colours
      include ../../_partials/simple-partials/utilities/display
      include ../../_partials/simple-partials/utilities/extends
      include ../../_partials/simple-partials/utilities/floats
      include ../../_partials/simple-partials/utilities/font-sizes
      include ../../_partials/simple-partials/utilities/font-styles
      include ../../_partials/simple-partials/utilities/font-weights
      include ../../_partials/simple-partials/utilities/position
      include ../../_partials/simple-partials/utilities/rounded
      include ../../_partials/simple-partials/utilities/spaces
      include ../../_partials/simple-partials/utilities/text
      include ../../_partials/simple-partials/utilities/vertical-align
      include ../../_partials/simple-partials/utilities/web-fonts
      include ../../_partials/simple-partials/utilities/widths

      //- config
      include ../../_partials/simple-partials/config/breakpoints
      include ../../_partials/simple-partials/config/colours
      include ../../_partials/simple-partials/config/extends
      include ../../_partials/simple-partials/config/fonts
      include ../../_partials/simple-partials/config/rounded
      include ../../_partials/simple-partials/config/spaces

      //- modules
      include ../../_partials/simple-partials/modules/fit-text
      include ../../_partials/simple-partials/modules/fit-vids
      include ../../_partials/simple-partials/modules/fluid-box
      include ../../_partials/simple-partials/modules/fluid-social
      include ../../_partials/simple-partials/modules/hamburger
      include ../../_partials/simple-partials/modules/owl-carousel

      //- mixins
      include ../../_partials/simple-partials/mixins/border-radius
      include ../../_partials/simple-partials/mixins/gradient-left-right
      include ../../_partials/simple-partials/mixins/center-content
      include ../../_partials/simple-partials/mixins/clearfix
      include ../../_partials/simple-partials/mixins/global-mb
      include ../../_partials/simple-partials/mixins/headings
      include ../../_partials/simple-partials/mixins/hidden
      include ../../_partials/simple-partials/mixins/image-replace
      include ../../_partials/simple-partials/mixins/invisible
      include ../../_partials/simple-partials/mixins/list-unstyled
      include ../../_partials/simple-partials/mixins/reset-mb
      include ../../_partials/simple-partials/mixins/sizing-vertical-rhythm
      include ../../_partials/simple-partials/mixins/sr-only
      include ../../_partials/simple-partials/mixins/vertical-align
      include ../../_partials/simple-partials/mixins/vertical-align-table
      include ../../_partials/simple-partials/mixins/visually-hidden

    include ../../_partials/site/scripts
    include ../../_partials/site/analytics