doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    include ../../_partials/site/compatibility-mode
    title Core Objects
    include ../../_partials/site/description
    include ../../_partials/site/meta-viewport

    include ../../_partials/site/favicon
    //- or

    //- include ../../_partials/site/favicon-png

    //-include ../../_partials/site/metaquery

    //- include ../../_partials/site/icon-chrome-android

    //- include ../../_partials/site/icon-safari-ios

    //- include ../../_partials/site/icon-tile-win8

    //- include ../../_partials/site/if-mobile-url

    link(type='text/css', rel='stylesheet', href='../../assets/css/main.css')
  body.s-simple
    .l-simple-container(class='u-s-mt-2')
      h1.u-fs-h1x.u-ta-center(class='u-s-mb-1/6') Simple Css
      ul(class='o-nav  o-nav--banner  u-s-mb-4')
        li
          a(class='o-btn' href='../base') base
        li
          a(class='o-btn  u-s-active' href='../objects') objects
        li
          a(class='o-btn' href='../utilities') utilities
        li
          a(class='o-btn' href='../sink') sink
        li
          a(class='o-btn' href='../modules') modules
        li
          a(class='o-btn' href='../config') config
        li
          a(class='o-btn' href='../mixins') mixins

      //- objects
      include ../../_partials/simple-partials/objects/alert
      include ../../_partials/simple-partials/objects/block-list
      include ../../_partials/simple-partials/objects/blockquote
      include ../../_partials/simple-partials/objects/breadcrumbs
      include ../../_partials/simple-partials/objects/button-groups
      include ../../_partials/simple-partials/objects/buttons
      include ../../_partials/simple-partials/objects/columns
      include ../../_partials/simple-partials/objects/figure
      include ../../_partials/simple-partials/objects/flag
      include ../../_partials/simple-partials/objects/flyout
      include ../../_partials/simple-partials/objects/forms
      include ../../_partials/simple-partials/objects/icon-fonts
      include ../../_partials/simple-partials/objects/icon-text
      include ../../_partials/simple-partials/objects/images
      include ../../_partials/simple-partials/objects/island
      include ../../_partials/simple-partials/objects/labels
      include ../../_partials/simple-partials/objects/lists
      include ../../_partials/simple-partials/objects/loaders
      include ../../_partials/simple-partials/objects/matrix
      include ../../_partials/simple-partials/objects/media
      include ../../_partials/simple-partials/objects/nav
      include ../../_partials/simple-partials/objects/options
      include ../../_partials/simple-partials/objects/pagination
      include ../../_partials/simple-partials/objects/progress-bars
      include ../../_partials/simple-partials/objects/rules
      include ../../_partials/simple-partials/objects/split
      include ../../_partials/simple-partials/objects/sprite
      include ../../_partials/simple-partials/objects/stats
      include ../../_partials/simple-partials/objects/tables
      include ../../_partials/simple-partials/objects/tabs
      include ../../_partials/simple-partials/objects/this-or-this
      include ../../_partials/simple-partials/objects/thumbnail

    include ../../_partials/site/scripts
    include ../../_partials/site/analytics