/* ==========================================================================
   Mixin - Image Replacment
   ========================================================================== */

  @mixin image-replace {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
  }