h1(class='s-simple-title  u-fs-h5x') Breakpoint Default Config Variables
h2.s-simple-title--sub Colours Standard Variables
.s-simple-config.breakpoints
  p
    code $breakpoint-default-feature:    'min-width'     !default;
  p
    code breakpoint-default-media:      'all'           !default;
  p
    code breakpoint-force-media-all:    false           !default;
  p
    code breakpoint-default-pair:       'width'         !default;
  p
    code breakpoint-to-ems:             false           !default;
  p
    code breakpoint-prefixes:           'webkit' 'moz'  !default;
  p
    code breakpoint-prefixed-queries:   'device-pixel-ratio', 'min-device-pixel-ratio', 'max-device-pixel-ratio' !default;
  p
    code breakpoint-no-queries:         false           !default;
  p
    code breakpoint-no-query-wrappers:  false           !default;
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html