h1(class='s-simple-title  u-fs-h5x') Colours Config Variables

h2.s-simple-title--sub Colours Standard Variables
div.s-simple-config.colours
  p
    code $c-white:                   white;     //    #FFFFFF   rgb(100 100 100)
  p
    code $c-silver:                  silver;    //    #C0C0C0   rgb(75 75 75)
  p
    code $c-gray:                    gray;      //    #808080   rgb(50 50 50)
  p
    code $c-black:                   black;     //    #000000   rgb(0 0 0)
  p
    code $c-red:                     red;       //    #FF0000   rgb(100 0 0)
  p
    code $c-maroon:                  maroon;    //    #800000   rgb(50 0 0)
  p
    code $c-orange:                  orange;    //    #FFA500   rgb(255 16 50)
  p
    code $c-yellow:                  yellow;    //    #FFFF00   rgb(100 100 0)
  p
    code $c-olive:                   olive;     //    #808000   rgb(50 50 0)
  p
    code $c-lime:                    lime;      //    #00FF00   rgb(0 100 0)
  p
    code $c-green:                   green;     //    #008000   rgb(0 50 0)
  p
    code $c-aqua:                    aqua;      //    #00FFFF   rgb(0 100 100)
  p
    code $c-teal:                    teal;      //    #008080   rgb(0 50 50)
  p
    code $c-blue:                    blue;      //    #0000FF   rgb(0 0 100)
  p
    code $c-navy:                    navy;      //    #000080   rgb(0 0 50)
  p
    code $c-fuchsia:                 fuchsia;   //    #FF00FF   rgb(100 0 100)
  p
    code $c-purple:                  purple;    //    #800080   rgb(50 0 50)
  p
    code $c-pink:                    pink;      //    #FFC0CB   rgb(255 192 203)

h2.s-simple-title--sub Colours Background Variables
div.s-simple-config.colours
  p
    code $bc-1:                    #ffffff;
  p
    code $bc-2:                    #f3f3f3;
  p
    code $bc-3:                    #ccc;

h2.s-simple-title--sub Selection Colour Variables
div.s-simple-config.colours
  p
    code $c-selection:             #161616;
  p
    code $bc-selection:            rgba(240, 233, 89, 0.9);

h2.s-simple-title--sub Link Colour Variables
div.s-simple-config.colours
  p
    code $c-link:                  #2046df;
  p
    code $c-link-hover:            #ec1831;
  p
    code $c-link-active:           #ff001e;
  p
    code $c-link-visited:          #d01fe0;

h2.s-simple-title--sub Heading Colour Variables
div.s-simple-config.colours
  p
    code $c-heading-1:             #2c2c2c;
  p
    code $c-heading-2:             #424242;
  p
    code $c-heading-3:             #585858;

h2.s-simple-title--sub Type Colour Variables
div.s-simple-config.colours
  p
    code $c-type-1:                #2c2c2c;
  p
    code $c-type-2:                #424242;
  p
    code $c-type-3:                #585858;

h2.s-simple-title--sub Colours object
div.s-simple-config.colours
  p
    code $c-object:                #bebebe;

h2.s-simple-title--sub Colour Object Buttons Variables
div.s-simple-config.colours
  p
    code $c-btn-1:                 #222222;
  p
    code $c-btn-2:                 #aeaeae;
  p
    code $bc-btn-1:                #bebebe;
  p
    code $bc-btn-2:                #a6a6a6;

h2.s-simple-title--sub Colours object notify
div.s-simple-config.colours
  p
    code $c-success:               #4FC56B;
  p
    code $c-info:                  #59A7F2;
  p
    code $c-warning:               #FADB40;
  p
    code $c-danger:                #F58E45;
  p
    code $c-error:                 #F45757;

h2.s-simple-title--sub Colours object form
div.s-simple-config.colours
  p
    code $c-form-1:                #999999;
  p
    code $c-form-2:                #777777;
  p
    code $c-form-input:            #bebebe;
  p
    code $c-form-hover:            $c-link-hover;
  p
    code $c-form-active:           $c-link-active;
  p
    code $c-form-focus:            $c-link-visited;

h2.s-simple-title--sub Colours object code
div.s-simple-config.colours
  p
    code $bc-code:                #f7f7f7;
  p
    code $c-code:                  #333333;

h2.s-simple-title--sub Colours brands
div.s-simple-config.colours
  p
    code $c-google:                #1194f6;
  p
    code $c-facebook:              #336699;
  p
    code $c-twitter:               #00aced;
  p
    code $c-linkedin:              #0977b5;
  p
    code $c-dribble:               #ea4c89;
  p
    code $c-instagram:             #336699;
  p
    code $c-googleplus:            #c20907;
  p
    code $c-behance:               #333333;
  p
    code $c-gimmebar:              #D6156C;
  p
    code $c-github:                #333333;
  p
    code $c-tumblr:                #35465d;
  p
    code $c-youtube:               #e52d27;
  p
    code $c-vine:                  #00bf8f;
  p
    code $c-vimeo:                 #04aeec;
  p
    code $c-kickstarter:           #14e06e;
  p
    code $c-dropbox:               #007ee5;
  p
    code $c-flickr:                #f4f4f4;
  p
    code $c-rss:                   #eb7f38;
  p
    code $c-codepen:               #d75e5e;
  p
    code $c-foursquare:            #f94877;
  p
    code $c-soundcloud:            #f83c0e;
  p
    code $c-wordpress:             #464646;
  p
    code $c-blogger:               #f57d00;
  p
    code $c-squarespace:           #222222;
  p
    code $c-joomla:                #5e5e5e;
  p
    code $c-drupal:                #0077c0;
  p
    code $c-typepad:               #629841;
  p
    code $c-expression-engine:     #5c81a5;
  p
    code $c-kirby:                 #ff0400;
  p
    code $c-moveabletype:          #9cbaca;
  p
    code $c-disqus:                #2e9fff;
  p
    code $c-html:                  #ed3e35;
  p
    code $c-yahoo:                 #400191;
  p
    code $c-pinterest:             #cc3333;
  p
    code $c-google-drive:          #333333;
  p
    code $c-delicious:             #0B79E5;
  p
    code $c-android:               #a4c639;
  p
    code $c-apple:                 #cccccc;
  p
    code $c-forrst:                #5b9a68;
  p
    code $c-paypal:                #00437f;
  p
    code $c-lastfm:                #c3000d;
  p
    code $c-skype:                 #009fe3;
  p
    code $c-digg:                  #333333;
  p
    code $c-swarm:                 #ffb000;
  p
    code $c-etsy:                  #ffb000;
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html