h1(class='s-simple-title  u-fs-h5x') Spaces Config
h2.s-simple-title--sub Spaces
.s-simple-config.spaces
  p
    code $space: em(16);
  p
    code $space-6th: $space / 6;
  p
    code $space-5th: $space / 5;
  p
    code $space-4th: $space / 4;
  p
    code $space-3rd: $space / 3;
  p
    code $space-half: $space / 2;
  p
    code $space-1-half: $space * 1.5;
  p
    code $space-2: $space * 2;
  p
    code $space-3: $space * 3;
  p
    code $space-4: $space * 4;
  p
    code $space-5: $space * 5;
  p
    code $space-6: $space * 6;
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html