$use-utilities-extends: true !default;

@if $use-utilities-extends == true{
/* ==========================================================================
   Utilities - Silent Extends

   @include extend makes class into extend: @extend %e-d-block;

   ========================================================================== */

  // display
  %e-d-block                { display:block; }
  %e-d-inline               { display:inline; }
  %e-d-inline-block         { display:inline-block; }
  %e-d-table                { display:table; }
  %e-d-table-cell           { display:table-cell; }
  %e-d-flex                 { display:flex; }

  // alert colors
  %e-c-bgc-success             { background-color: $c-success; }
  %e-c-bgc-info                { background-color: $c-info; }
  %e-c-bgc-warning             { background-color: $c-warning; }
  %e-c-bgc-danger              { background-color: $c-danger; }
  %e-c-bgc-error               { background-color: $c-error; }

  %e-c-success              { color: $c-success; }
  %e-c-info                 { color: $c-info; }
  %e-c-warning              { color: $c-warning; }
  %e-c-danger               { color: $c-danger; }
  %e-c-error                { color: $c-error; }

  // headings
  %e-fs-h1                  { font-size: $fs-h1; }
  %e-fs-h2                  { font-size: $fs-h2; }
  %e-fs-h3                  { font-size: $fs-h3; }
  %e-fs-h4                  { font-size: $fs-h4; }
  %e-fs-h5                  { font-size: $fs-h5; }
  %e-fs-h6                  { font-size: $fs-h6; }

  // large type
  %e-fs-h1x                 { font-size: $fs-h1x; }
  %e-fs-h2x                 { font-size: $fs-h2x; }
  %e-fs-h3x                 { font-size: $fs-h3x; }
  %e-fs-h4x                 { font-size: $fs-h4x; }
  %e-fs-h5x                 { font-size: $fs-h5x; }
  %e-fs-h6x                 { font-size: $fs-h6x; }

  // small type
  %e-fs-h7                  { font-size: $fs-h7; }
  %e-fs-h8                  { font-size: $fs-h8; }
  %e-fs-h9                  { font-size: $fs-h9; }
  %e-fs-h10                 { font-size: $fs-h10; }

  // helper type
  %e-fs-base                { font-size: $fs-base; }
  %e-fs-lead                { font-size: $fs-lead; }
  %e-fs-halve               { font-size: $fs-half; }
  %e-fs-inherit             { font-size: inherit; }

  // font weights
  %e-font-200               { font-weight: 200; }
  %e-font-300               { font-weight: 300; }
  %e-font-400               { font-weight: 400; }
  %e-font-500               { font-weight: 500; }
  %e-font-600               { font-weight: 600; }
  %e-font-700               { font-weight: 700; }
  %e-font-800               { font-weight: 800; }
  %e-font-900               { font-weight: 900; }
  %e-fw-normal              { font-weight: normal; }
  %e-fw-bold                { font-weight: bold; }
  %e-fw-lighter             { font-weight: lighter; }
  %e-fw-bolder              { font-weight: bolder; }

  // font styles
  %e-fs-normal              { font-style: normal; }
  %e-fs-italic              { font-style: italic; }
  %e-fs-oblique             { font-style: oblique; }

  // text underline
  %e-td-underline           { text-decoration: underline; }

  // text transforms
  %e-tt-lower               { text-transform: lowercase; }
  %e-tt-upper               { text-transform: uppercase; }
  %e-tt-caps                { text-transform: capitalize; }

  // text align
  %e-ta-left                { text-align: left; }
  %e-ta-right               { text-align: right; }
  %e-ta-cener               { text-align: center; }
  %e-ta-justify             { text-align: justify; }

  // nowrap
  %e-ws-nowrap              { white-space: nowrap; }

  // floats
  %e-f-left                 { float: left; }
  %e-f-right                { float: right; }
  %e-f-inherit              { float: inherit; }

  // overflow
  %e-of-hidden              { overflow: hidden; }
  %e-of-scroll              { overflow: scroll; }

  // position
  %e-p-relative             { position: relative; }
  %e-p-absolute             { position: absolute; }
  %e-p-fixed                { position: fixed; }

  // positions where
  %e-p-t-0                  { top: 0; }
  %e-p-r-0                  { right: 0; }
  %e-p-b-0                  { bottom: 0; }
  %e-p-l-0                  { left: 0; }

  // z-index
  %e-z-1                    { z-index: 1; }
  %e-z-2                    { z-index: 2; }
  %e-z-3                    { z-index: 3; }
  %e-z-4                    { z-index: 4; }

  // spaces margin
  %e-s-mt-1\/6              { margin-top: $space-sixth; }
  %e-s-mr-1\/6              { margin-right: $space-sixth; }
  %e-s-mb-1\/6              { margin-bottom: $space-sixth; }
  %e-s-ml-1\/6              { margin-left: $space-sixth; }
  %e-s-m-1\/6               { margin: $space; }

  %e-s-mt-1\/5              { margin-top: $space-fifth; }
  %e-s-mr-1\/5              { margin-right: $space-fifth; }
  %e-s-mb-1\/5              { margin-bottom: $space-fifth; }
  %e-s-ml-1\/5              { margin-left: $space-fifth; }
  %e-s-m-1\/5               { margin: $space; }

  %e-s-mt-1\/4              { margin-top: $space-quarter; }
  %e-s-mr-1\/4              { margin-right: $space-quarter; }
  %e-s-mb-1\/4              { margin-bottom: $space-quarter; }
  %e-s-ml-1\/4              { margin-left: $space-quarter; }
  %e-s-m-1\/4               { margin: $space; }

  %e-s-mt-1\/3              { margin-top: $space-third; }
  %e-s-mr-1\/3              { margin-right: $space-third; }
  %e-s-mb-1\/3              { margin-bottom: $space-third; }
  %e-s-ml-1\/3              { margin-left: $space-third; }
  %e-s-m-1\/3               { margin: $space; }

  %e-s-mt-1\/2              { margin-top: $space-halve; }
  %e-s-mr-1\/2              { margin-right: $space-halve; }
  %e-s-mb-1\/2              { margin-bottom: $space-halve; }
  %e-s-ml-1\/2              { margin-left: $space-halve; }
  %e-s-m-1\/2               { margin: $space; }

  %e-s-mt                   { margin-top: $space; }
  %e-s-mr                   { margin-right: $space; }
  %e-s-mb                   { margin-bottom: $space; }
  %e-s-ml                   { margin-left: $space; }
  %e-s-m                    { margin: $space; }

  %e-s-mt-1-1\/2            { margin-top: $space-1-halve; }
  %e-s-mr-1-1\/2            { margin-right: $space-1-halve; }
  %e-s-mb-1-1\/2            { margin-bottom: $space-1-halve; }
  %e-s-ml-1-1\/2            { margin-left: $space-1-halve; }
  %e-s-m-1-1\/2             { margin: $space; }

  %e-s-mt-2                 { margin-top: $space-2; }
  %e-s-mr-2                 { margin-right: $space-2; }
  %e-s-mb-2                 { margin-bottom: $space-2; }
  %e-s-ml-2                 { margin-left: $space-2; }
  %e-s-m-2                  { margin: $space; }

  %e-s-mt-3                 { margin-top: $space-3; }
  %e-s-mr-3                 { margin-right: $space-3; }
  %e-s-mb-3                 { margin-bottom: $space-3; }
  %e-s-ml-3                 { margin-left: $space-3; }
  %e-s-m-3                  { margin: $space; }

  %e-s-mt-4                 { margin-top: $space-4; }
  %e-s-mr-4                 { margin-right: $space-4; }
  %e-s-mb-4                 { margin-bottom: $space-4; }
  %e-s-ml-4                 { margin-left: $space-4; }
  %e-s-m-4                   { margin: $space; }

  %e-s-mt-5                 { margin-top: $space-5; }
  %e-s-mr-5                 { margin-right: $space-5; }
  %e-s-mb-5                 { margin-bottom: $space-5; }
  %e-s-ml-5                 { margin-left: $space-5; }
  %e-s-m-5                   { margin: $space; }

  %e-s-mt-6                 { margin-top: $space-6; }
  %e-s-mr-6                 { margin-right: $space-6; }
  %e-s-mb-6                 { margin-bottom: $space-6; }
  %e-s-ml-6                 { margin-left: $space-6; }
  %e-s-m-6                   { margin: $space; }

  // spaces padding
  %e-s-pt-1\/6              { padding-top: $space-sixth; }
  %e-s-pr-1\/6              { padding-right: $space-sixth; }
  %e-s-pb-1\/6              { padding-bottom: $space-sixth; }
  %e-s-pl-1\/6              { padding-left: $space-sixth; }
  %e-s-p-1\/6               { padding: $space-sixth; }

  %e-s-pt-1\/5              { padding-top: $space-fifth; }
  %e-s-pr-1\/5              { padding-right: $space-fifth; }
  %e-s-pb-1\/5              { padding-bottom: $space-fifth; }
  %e-s-pl-1\/5              { padding-left: $space-fifth; }
  %e-s-p-1\/5               { padding: $space-fifth; }

  %e-s-pt-1\/4              { padding-top: $space-quarter; }
  %e-s-pr-1\/4              { padding-right: $space-quarter; }
  %e-s-pb-1\/4              { padding-bottom: $space-quarter; }
  %e-s-pl-1\/4              { padding-left: $space-quarter; }
  %e-s-p-1\/4               { padding: $space-quarter; }

  %e-s-pt-1\/3              { padding-top: $space-third; }
  %e-s-pr-1\/3              { padding-right: $space-third; }
  %e-s-pb-1\/3              { padding-bottom: $space-third; }
  %e-s-pl-1\/3              { padding-left: $space-third; }
  %e-s-p-1\/3               { padding: $space-third; }

  %e-s-pt-1\/2              { padding-top: $space-halve; }
  %e-s-pr-1\/2              { padding-right: $space-halve; }
  %e-s-pb-1\/2              { padding-bottom: $space-halve; }
  %e-s-pl-1\/2              { padding-left: $space-halve; }
  %e-s-p-1\/2               { padding: $space-halve; }

  %e-s-pt                   { padding-top: $space; }
  %e-s-pr                   { padding-right: $space; }
  %e-s-pb                   { padding-bottom: $space; }
  %e-s-pl                   { padding-left: $space; }
  %e-s-p                    { padding: $space; }

  %e-s-pt-1-1\/2            { padding-top: $space-1-halve; }
  %e-s-pr-1-1\/2            { padding-right: $space-1-halve; }
  %e-s-pb-1-1\/2            { padding-bottom: $space-1-halve; }
  %e-s-pl-1-1\/2            { padding-left: $space-1-halve; }
  %e-s-p-1-1\/2             { padding: $space; }

  %e-s-pt-2                 { padding-top: $space-2; }
  %e-s-pr-2                 { padding-right: $space-2; }
  %e-s-pb-2                 { padding-bottom: $space-2; }
  %e-s-pl-2                 { padding-left: $space-2; }
  %e-s-p-2                  { padding: $space-2; }

  %e-s-pt-3                 { padding-top: $space-3; }
  %e-s-pr-3                 { padding-right: $space-3; }
  %e-s-pb-3                 { padding-bottom: $space-3; }
  %e-s-pl-3                 { padding-left: $space-3; }
  %e-s-p-3                  { padding: $space; }

  %e-s-pt-4                 { padding-top: $space-4; }
  %e-s-pr-4                 { padding-right: $space-4; }
  %e-s-pb-4                 { padding-bottom: $space-4; }
  %e-s-pl-4                 { padding-left: $space-4; }
  %e-s-p-4                  { padding: $space-4; }

  %e-s-pt-5                 { padding-top: $space-5; }
  %e-s-pr-5                 { padding-right: $space-5; }
  %e-s-pb-5                 { padding-bottom: $space-5; }
  %e-s-pl-5                 { padding-left: $space-5; }
  %e-s-p-5                  { padding: $space-5; }

  %e-s-pt-6                 { padding-top: $space-6; }
  %e-s-pr-6                 { padding-right: $space-6; }
  %e-s-pb-6                 { padding-bottom: $space-6; }
  %e-s-pl-6                 { padding-left: $space-6; }
  %e-s-p-6                  { padding: $space-6; }

  // widths
  %e-w-0                    { width: 0%; }
  %e-w-1\/2                 { width: 50%; }
  %e-w-1\/1                 { width: 100%; }

  %e-w-1\/3                 { width: 33.333%; }
  %e-w-2\/3                 { width: 66.666%; }

  %e-w-1\/4                 { width: 25%; }
  %e-w-2\/4                 { @extend %e-w-1\/2; }
  %e-w-3\/4                 { width: 75%; }

  %e-w-1\/5                 { width: 20%; }
  %e-w-2\/5                 { width: 40%; }
  %e-w-3\/5                 { width: 60%; }
  %e-w-4\/5                 { width: 80%; }

  %e-w-1\/6                 { width: 16.666%; }
  %e-w-2\/6                 { @extend %e-w-1\/3; }
  %e-w-3\/6                 { @extend %e-w-1\/2; }
  %e-w-4\/6                 { @extend %e-w-2\/3; }
  %e-w-5\/6                 { width: 83.333%; }

  %e-w-1\/8                 { width: 12.5%; }
  %e-w-2\/8                 { @extend %e-w-1\/4; }
  %e-w-3\/8                 { width: 37.5%; }
  %e-w-4\/8                 { @extend %e-w-1\/2; }
  %e-w-5\/8                 { width: 62.5%; }
  %e-w-6\/8                 { @extend %e-w-3\/4; }
  %e-w-7\/8                 {  width: 87.5%; }

  %e-w-1\/10                { width: 10%; }
  %e-w-2\/10                { @extend %e-w-1\/5; }
  %e-w-3\/10                { width: 30%; }
  %e-w-4\/10                { @extend %e-w-2\/5; }
  %e-w-5\/10                { @extend %e-w-1\/2; }
  %e-w-6\/10                { @extend %e-w-3\/5; }
  %e-w-7\/10                { width: 70%; }
  %e-w-8\/10                { @extend %e-w-4\/5; }
  %e-w-9\/10                { width: 90%; }

  %e-w-1\/12                { width: 8.333%; }
  %e-w-2\/12                { @extend %e-w-1\/6; }
  %e-w-3\/12                { @extend %e-w-1\/4; }
  %e-w-4\/12                { @extend %e-w-1\/3; }
  %e-w-5\/12                { width: 41.666% }
  %e-w-6\/12                { @extend %e-w-1\/2; }
  %e-w-7\/12                { width: 58.333%; }
  %e-w-8\/12                { @extend %e-w-2\/3; }
  %e-w-9\/12                { @extend %e-w-3\/4; }
  %e-w-10\/12               { @extend %e-w-5\/6; }
  %e-w-11\/12               { width: 91.666%; }

  // island margin
  %e-i-m-1\/6               { margin: $space-sixth; }
  %e-i-m-1\/5               { margin: $space-fifth; }
  %e-i-m-1\/4               { margin: $space-quarter; }
  %e-i-m-1\/3               { margin: $space-third; }
  %e-i-m-1\/2               { margin: $space-halve; }
  %e-i-m                    { margin: $space; }
  %e-i-m-1-1\/2             { margin: $space-1-halve; }
  %e-i-m-2                  { margin: $space-2; }
  %e-i-m-3                  { margin: $space-3; }
  %e-i-m-4                  { margin: $space-4; }
  %e-i-m-5                  { margin: $space-5; }
  %e-i-m-6                  { margin: $space-6; }

  // island padding
  %e-i-p-1\/6               { padding: $space-sixth; }
  %e-i-p-1\/5               { padding: $space-fifth; }
  %e-i-p-1\/4               { padding: $space-quarter; }
  %e-i-p-1\/3               { padding: $space-third; }
  %e-i-p-1\/2               { padding: $space-halve; }
  %e-i-p                    { padding: $space; }
  %e-i-p-1-1\/2             { padding: $space-1-halve; }
  %e-i-p-2                  { padding: $space-2; }
  %e-i-p-3                  { padding: $space-3; }
  %e-i-p-4                  { padding: $space-4; }
  %e-i-p-5                  { padding: $space-5; }
  %e-i-p-6                  { padding: $space-6; }


  %e-r-circle               { border-radius: 100%; }


  // mixins as extends
  %e-hidden               { @include hidden; }
  %e-clearfix             { @include clearfix; }
  %e-visually-hidden      { @include visually-hidden; }
  %e-sr-only              { @include sr-only; }
  %e-list-unstyled        { @include list-unstyled; }
  %e-image-replace        { @include image-replace; }
  %e-center-content       { @include center-content; }
  %e-invisible            { @include invisible; }
  %e-va-container         { transform-style: preserve-3d; }
  %e-vertical-align       { @include vertical-align; }
  %e-vertical-align-table { @include vertical-align-table; }
  %e-global-mb            { @include global-mb; }
  %e-reset-mb             { @include reset-mb; }

  // states helpers
  %e-s-inform {
    cursor:help;
  }

  %e-s-disable {
    opacity: 0.5;
    box-shadow: none;
    pointer-events: none;
  }

  %e-s-active {
    background: shade($c-bgc-btn-1,15%);
    cursor: default;
    pointer-events: none;
  }

}//endif