$use-utilities-island:  true !default;

@if $use-utilities-island == true{
/* ==========================================================================
   Utilities - island
   ========================================================================== */

  // margin
  .u-i-m-1\/6   { margin: $space-sixth; }
  .u-i-m-1\/5   { margin: $space-fifth; }
  .u-i-m-1\/4   { margin: $space-quarter; }
  .u-i-m-1\/3   { margin: $space-third; }
  .u-i-m-1\/2   { margin: $space-halve; }
  .u-i-m        { margin: $space; }
  .u-i-m-1-1\/2 { margin: $space-1-halve; }
  .u-i-m-2      { margin: $space-2; }
  .u-i-m-3      { margin: $space-3; }
  .u-i-m-4      { margin: $space-4; }
  .u-i-m-5      { margin: $space-5; }
  .u-i-m-6      { margin: $space-6; }

  // padding
  .u-i-p-1\/6   { padding: $space-sixth; }
  .u-i-p-1\/5   { padding: $space-fifth; }
  .u-i-p-1\/4   { padding: $space-quarter; }
  .u-i-p-1\/3   { padding: $space-third; }
  .u-i-p-1\/2   { padding: $space-halve; }
  .u-i-p        { padding: $space; }
  .u-i-p-1-1\/2 { padding: $space-1-halve; }
  .u-i-p-2      { padding: $space-2; }
  .u-i-p-3      { padding: $space-3; }
  .u-i-p-4      { padding: $space-4; }
  .u-i-p-5      { padding: $space-5; }
  .u-i-p-6      { padding: $space-6; }

}//endif