//- //- Uncomment and use metaquery insteat of breakpoint?
//- meta(name="breakpoint", content="phone", media="(max-width: 480px)")
//- meta(name="breakpoint", content="small-tablet", media="(min-width: 480px) and (max-width: 600px)")
//- meta(name="breakpoint", content="tablet", media="(min-width: 600px) and (max-width: 1024px)")
//- meta(name="breakpoint", content="widescreen", media="(min-width: 1024px)")
//- meta(name="breakpoint", content="retina", media="only screen and (-webkit-min-device-pixel-ratio : 2)")

//- include ../../../components-bower/metaquery/metaquery.min.js