h1(class='s-simple-title  u-fs-h5x') gradient-left-right
h2.s-simple-title--sub gradient-left-right
.s-simple-mixins.gradient-left-right
  div
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html