h1(class='s-simple-title  u-fs-h5x') Headings
h2.s-simple-title--sub h1 - h6
.s-simple-mixins.headings
  h1 h1 Heading
  h2 h2 Heading
  h3 h3 Heading
  h4 h4 Heading
  h5 h5 Heading
  h6 h6 Heading
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html