h1(class='s-simple-title  u-fs-h5x') Hidden
h2.s-simple-title--sub Hidden
.s-simple-mixins.hidden
  div(style='border:1px dashed #ccc; height: 2px;')
    h1(class='u-hidden') I'm a H1 that is hidden.
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html