h1(class='s-simple-title  u-fs-h5x') Image Replace
.s-simple-mixins.image-replace
  h1(class='s-simple-image-replace') I'm a replacement image.
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html