h1(class='s-simple-title  u-fs-h5x') Invisible
h2.s-simple-title--sub Invisible
.s-simple-mixins.invisible
  div(style='border:1px dashed #ccc;')
    h1(class='u-invisible') I'm a H1 that is invisible.
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html