h1(class='s-simple-title  u-fs-h5x') Sizing Vertical Rhythm
h2.s-simple-title--sub h1x
.s-simple-mixins.font-size-vertical-rhythm
  p.s-vr-fs-h1x The earliest known appearance of the phrase is from The Michigan School Moderator, a journal that provided many teachers with education-related news and suggestions for lessons. In an article titled "Interesting Notes" in the March 14, 1885 issue, the phrase is given as a suggestion for writing practice: "The following sentence makes a good copy for practice, as it contains every letter of the alphabet: 'A quick brown fox jumps over the lazy dog. Note that the phrase in this case begins with the word "A" rather than "The". Several other early sources also use this variation.
h2.s-simple-title--sub h2x
.s-simple-mixins.font-size-vertical-rhythm
  p.s-vr-fs-h2x The earliest known appearance of the phrase is from The Michigan School Moderator, a journal that provided many teachers with education-related news and suggestions for lessons. In an article titled "Interesting Notes" in the March 14, 1885 issue, the phrase is given as a suggestion for writing practice: "The following sentence makes a good copy for practice, as it contains every letter of the alphabet: 'A quick brown fox jumps over the lazy dog. Note that the phrase in this case begins with the word "A" rather than "The". Several other early sources also use this variation.
h2.s-simple-title--sub h3x
.s-simple-mixins.font-size-vertical-rhythm
  p.s-vr-fs-h3x The earliest known appearance of the phrase is from The Michigan School Moderator, a journal that provided many teachers with education-related news and suggestions for lessons. In an article titled "Interesting Notes" in the March 14, 1885 issue, the phrase is given as a suggestion for writing practice: "The following sentence makes a good copy for practice, as it contains every letter of the alphabet: 'A quick brown fox jumps over the lazy dog. Note that the phrase in this case begins with the word "A" rather than "The". Several other early sources also use this variation.
h2.s-simple-title--sub h4x
.s-simple-mixins.font-size-vertical-rhythm
  p.s-vr-fs-h4x The earliest known appearance of the phrase is from The Michigan School Moderator, a journal that provided many teachers with education-related news and suggestions for lessons. In an article titled "Interesting Notes" in the March 14, 1885 issue, the phrase is given as a suggestion for writing practice: "The following sentence makes a good copy for practice, as it contains every letter of the alphabet: 'A quick brown fox jumps over the lazy dog. Note that the phrase in this case begins with the word "A" rather than "The". Several other early sources also use this variation.
h2.s-simple-title--sub h5x
.s-simple-mixins.font-size-vertical-rhythm
  p.s-vr-fs-h5x The earliest known appearance of the phrase is from The Michigan School Moderator, a journal that provided many teachers with education-related news and suggestions for lessons. In an article titled "Interesting Notes" in the March 14, 1885 issue, the phrase is given as a suggestion for writing practice: "The following sentence makes a good copy for practice, as it contains every letter of the alphabet: 'A quick brown fox jumps over the lazy dog. Note that the phrase in this case begins with the word "A" rather than "The". Several other early sources also use this variation.
h2.s-simple-title--sub h6x
.s-simple-mixins.font-size-vertical-rhythm
  p.s-vr-fs-h6x The earliest known appearance of the phrase is from The Michigan School Moderator, a journal that provided many teachers with education-related news and suggestions for lessons. In an article titled "Interesting Notes" in the March 14, 1885 issue, the phrase is given as a suggestion for writing practice: "The following sentence makes a good copy for practice, as it contains every letter of the alphabet: 'A quick brown fox jumps over the lazy dog. Note that the phrase in this case begins with the word "A" rather than "The". Several other early sources also use this variation.
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html