h1(class='s-simple-title  u-fs-h5x') Screen Readers Only
h2.s-simple-title--sub Screen Readers Only
.s-simple-mixins.sr-only
  div(style='border:1px dashed #ccc;')
    p(class='u-sr-only') screen readers only
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html