h1(class='s-simple-title  u-fs-h5x') Vertically Align an Element
h2.s-simple-title--sub Vertically Align an Element
.s-simple-mixins.vertical-align
  div(style='border:1px dashed #ccc;')
    p Vertical Align
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html