$use-objects-options: true !default;

@if $use-objects-options == true{
  /* ==========================================================================
   Object - Options
   ========================================================================== */

  // object
  .o-options {
    @include list-unstyled;

    letter-spacing:-0.31em;   // whitespace hack
    word-spacing:-0.43em;   // whitespace hack
    white-space:nowrap;   // whitespace hack

    > li{
      letter-spacing:normal;   // whitespace hack
      word-spacing:normal;   // whitespace hack

      &, > a{
        display: inline-block;
      }

      a{
        border: 0 solid $c-object;
        border-width: 1px;
        border-left-width: 0;
        padding: $space;
      }

      &:first-child > a {
        border-left-width:1px;
      }
    }

    // modifier extend - nav
    @include modifier(fit) {
      @extend .o-nav.\--fit;
    }

  }

}//endif
