/* ==========================================================================
   Config - Rounded
   ========================================================================== */

	$global-round: 	3px!default;
	$button-round: 	3px!default;
	$image-round:  	3px!default;
	$label-round:  	3px!default;

  $utilities-round: $global-round;