/* ==========================================================================
   Config - Margins
   ========================================================================== */

  $space: em(16)!default;

  $space-sixth: $space / 6!default;
  $space-fifth: $space / 5!default;
  $space-quarter: $space / 4!default;
  $space-third: $space / 3!default;
  $space-halve: $space / 2!default;
  $space-1-halve: $space * 1.5!default;
  $space-2: $space * 2!default;
  $space-3: $space * 3!default;
  $space-4: $space * 4!default;
  $space-5: $space * 5!default;
  $space-6: $space * 6!default;
  $space-8: $space * 8!default;
  $space-10: $space * 10!default;
  $space-20: $space * 20!default;