doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    include ../../_partials/site/compatibility-mode
    title Simple Modules Fluid Box
    include ../../_partials/site/description
    include ../../_partials/site/meta-viewport

    include ../../_partials/site/favicon
    //- or

    //- include ../../_partials/site/favicon-png

    //-include ../../_partials/site/metaquery

    //- include ../../_partials/site/icon-chrome-android

    //- include ../../_partials/site/icon-safari-ios

    //- include ../../_partials/site/icon-tile-win8

    //- include ../../_partials/site/if-mobile-url

    link(type='text/css', rel='stylesheet', href='../../assets/css/main.css')
  body.s-simple

    .l-simple-container
      include ../../_partials/simple-partials/modules/fluid-box

    include ../../_partials/site/scripts
    include ../../_partials/site/analytics