h1(class='s-simple-title  u-fs-h5x') Colours Utilities
h2.s-simple-title--sub Background Custom
.s-simple-utilities.config
  div.s-simple-colours(class='u-bgc-white')
  div.s-simple-colours(class='u-bgc-silver')
  div.s-simple-colours(class='u-bgc-gray')
  div.s-simple-colours(class='u-bgc-black')
  div.s-simple-colours(class='u-bgc-red')
  div.s-simple-colours(class='u-bgc-maroon')
  div.s-simple-colours(class='u-bgc-orange')
  div.s-simple-colours(class='u-bgc-yellow')
  div.s-simple-colours(class='u-bgc-olive')
  div.s-simple-colours(class='u-bgc-lime')
  div.s-simple-colours(class='u-bgc-green')
  div.s-simple-colours(class='u-bgc-aqua')
  div.s-simple-colours(class='u-bgc-teal')
  div.s-simple-colours(class='u-bgc-blue')
  div.s-simple-colours(class='u-bgc-navy')
  div.s-simple-colours(class='u-bgc-fuchsia')
  div.s-simple-colours(class='u-bgc-purple')
  div.s-simple-colours(class='u-bgc-pink')
h2.s-simple-title--sub Colour Custom
.s-simple-utilities.config
  p(class='u-fs-h1  u-fw-bold  u-c-white') white
  p(class='u-fs-h1  u-fw-bold  u-c-silver') silver
  p(class='u-fs-h1  u-fw-bold  u-c-gray') gray
  p(class='u-fs-h1  u-fw-bold  u-c-black') black
  p(class='u-fs-h1  u-fw-bold  u-c-red') red
  p(class='u-fs-h1  u-fw-bold  u-c-maroon') maroon
  p(class='u-fs-h1  u-fw-bold  u-c-orange') orange
  p(class='u-fs-h1  u-fw-bold  u-c-yellow') yellow
  p(class='u-fs-h1  u-fw-bold  u-c-olive') olive
  p(class='u-fs-h1  u-fw-bold  u-c-lime') lime
  p(class='u-fs-h1  u-fw-bold  u-c-green') green
  p(class='u-fs-h1  u-fw-bold  u-c-aqua') aqua
  p(class='u-fs-h1  u-fw-bold  u-c-teal') teal
  p(class='u-fs-h1  u-fw-bold  u-c-blue') blue
  p(class='u-fs-h1  u-fw-bold  u-c-navy') navy
  p(class='u-fs-h1  u-fw-bold  u-c-fuchsia') fuchsia
  p(class='u-fs-h1  u-fw-bold  u-c-purple') purple
  p(class='u-fs-h1  u-fw-bold  u-c-pink') pink
h2.s-simple-title--sub Colour Background
.s-simple-utilities.config
  div.s-simple-colours(class='u-bgc-1')
  div.s-simple-colours(class='u-bgc-2')
  div.s-simple-colours(class='u-bgc-3')
h2.s-simple-title--sub Background Links
.s-simple-utilities.config
  div.s-simple-colours(class='u-bgc-link')
  div.s-simple-colours(class='u-bgc-hover')
  div.s-simple-colours(class='u-bgc-active')
  div.s-simple-colours(class='u-bgc-visited')
h2.s-simple-title--sub Colour Links
.s-simple-utilities.config
  p(class='u-fs-h1  u-fw-bold  u-c-link') link
  p(class='u-fs-h1  u-fw-bold  u-c-hover') hover
  p(class='u-fs-h1  u-fw-bold  u-c-active') active
  p(class='u-fs-h1  u-fw-bold  u-c-visited') visted
h2.s-simple-title--sub Background Notify
.s-simple-utilities.config
  div.s-simple-colours(class='u-bgc-success')
  div.s-simple-colours(class='u-bgc-info')
  div.s-simple-colours(class='u-bgc-error')
  div.s-simple-colours(class='u-bgc-warning')
  div.s-simple-colours(class='u-bgc-danger')
h2.s-simple-title--sub Colour Notify
.s-simple-utilities.config
  p(class='u-fs-h1  u-fw-bold  u-c-success') success
  p(class='u-fs-h1  u-fw-bold  u-c-info') info
  p(class='u-fs-h1  u-fw-bold  u-c-error') error
  p(class='u-fs-h1  u-fw-bold  u-c-warning') warning
  p(class='u-fs-h1  u-fw-bold  u-c-danger') danger
h2.s-simple-title--sub Colour Headings
.s-simple-utilities.config
  p(class='u-fs-h1  u-fw-bold  u-c-h-1') heading
  p(class='u-fs-h1  u-fw-bold  u-c-h-2') heading
  p(class='u-fs-h1  u-fw-bold  u-c-h-3') heading
h2.s-simple-title--sub Background Buttons
.s-simple-utilities.config
  p(class='u-fs-h1  u-fw-bold  u-c-btn-1') button
  p(class='u-fs-h1  u-fw-bold  u-c-btn-2') button
h2.s-simple-title--sub Background Buttons
.s-simple-utilities.config
  div.s-simple-colours(class='u-bgc-btn-1')
  div.s-simple-colours(class='u-bgc-btn-2')
h2.s-simple-title--sub Colour Forms
.s-simple-utilities.config
  p(class='u-fs-h1  u-fw-bold  u-c-form-1') form
  p(class='u-fs-h1  u-fw-bold  u-c-form-2') form
h2.s-simple-title--sub Colour Forms
.s-simple-utilities.config
  div.s-simple-colours(class='u-bgc-form-input')
  div.s-simple-colours(class='u-bgc-form-hover')
  div.s-simple-colours(class='u-bgc-form-active')
  div.s-simple-colours(class='u-bgc-form-focus')
h2.s-simple-title--sub Colour Code
.s-simple-utilities.config
  p(class='u-fs-h1  u-fw-bold  u-c-code') code
h2.s-simple-title--sub Colour Code
.s-simple-utilities.config
  div.s-simple-colours(class='u-bgc-code')
h2.s-simple-title--sub Background Colour Brands
.s-simple-utilities.config
  div.s-simple-colours(class='u-bgc-google')
  div.s-simple-colours(class='u-bgc-facebook')
  div.s-simple-colours(class='u-bgc-twitter')
  div.s-simple-colours(class='u-bgc-linkedin')
  div.s-simple-colours(class='u-bgc-dribble')
  div.s-simple-colours(class='u-bgc-instagram')
  div.s-simple-colours(class='u-bgc-googleplus')
  div.s-simple-colours(class='u-bgc-behance')
  div.s-simple-colours(class='u-bgc-gimmebar')
  div.s-simple-colours(class='u-bgc-github')
  div.s-simple-colours(class='u-bgc-tumblr')
  div.s-simple-colours(class='u-bgc-youtube')
  div.s-simple-colours(class='u-bgc-vine')
  div.s-simple-colours(class='u-bgc-kickstarter')
  div.s-simple-colours(class='u-bgc-dropbox')
  div.s-simple-colours(class='u-bgc-rss')
  div.s-simple-colours(class='u-bgc-facebook')
  div.s-simple-colours(class='u-bgc-codepen')
  div.s-simple-colours(class='u-bgc-foursquare')
  div.s-simple-colours(class='u-bgc-soundcloud')
  div.s-simple-colours(class='u-bgc-wordpress')
  div.s-simple-colours(class='u-bgc-tumblr')
  div.s-simple-colours(class='u-bgc-blogger')
  div.s-simple-colours(class='u-bgc-squarespace')
  div.s-simple-colours(class='u-bgc-joomla')
  div.s-simple-colours(class='u-bgc-drupal')
  div.s-simple-colours(class='u-bgc-typepad')
  div.s-simple-colours(class='u-bgc-expression-engine')
  div.s-simple-colours(class='u-bgc-kirby')
  div.s-simple-colours(class='u-bgc-moveabletype')
  div.s-simple-colours(class='u-bgc-disqus')
  div.s-simple-colours(class='u-bgc-html')
h2.s-simple-title--sub Colour Brands
.s-simple-utilities.config
  p(class='u-fs-h1  u-fw-bold  u-c-google') google
  p(class='u-fs-h1  u-fw-bold  u-c-facebook') facebook
  p(class='u-fs-h1  u-fw-bold  u-c-twitter') twitter
  p(class='u-fs-h1  u-fw-bold  u-c-linkedin') linkedin
  p(class='u-fs-h1  u-fw-bold  u-c-dribble') dribble
  p(class='u-fs-h1  u-fw-bold  u-c-instagram') instagram
  p(class='u-fs-h1  u-fw-bold  u-c-googleplus') googleplus
  p(class='u-fs-h1  u-fw-bold  u-c-behance') behance
  p(class='u-fs-h1  u-fw-bold  u-c-gimmebar') gimmebar
  p(class='u-fs-h1  u-fw-bold  u-c-github') github
  p(class='u-fs-h1  u-fw-bold  u-c-tumblr') tumblr
  p(class='u-fs-h1  u-fw-bold  u-c-youtube') youtube
  p(class='u-fs-h1  u-fw-bold  u-c-vine') vine
  p(class='u-fs-h1  u-fw-bold  u-c-kickstarter') kickstarter
  p(class='u-fs-h1  u-fw-bold  u-c-dropbox') dropbox
  p(class='u-fs-h1  u-fw-bold  u-c-rss') rss
  p(class='u-fs-h1  u-fw-bold  u-c-facebook') facebook
  p(class='u-fs-h1  u-fw-bold  u-c-codepen') codepen
  p(class='u-fs-h1  u-fw-bold  u-c-foursquare') foursquare
  p(class='u-fs-h1  u-fw-bold  u-c-soundcloud') soundcloud
  p(class='u-fs-h1  u-fw-bold  u-c-wordpress') wordpress
  p(class='u-fs-h1  u-fw-bold  u-c-tumblr') tumblr
  p(class='u-fs-h1  u-fw-bold  u-c-blogger') blogger
  p(class='u-fs-h1  u-fw-bold  u-c-squarespace') squarespace
  p(class='u-fs-h1  u-fw-bold  u-c-joomla') joomla
  p(class='u-fs-h1  u-fw-bold  u-c-drupal') drupal
  p(class='u-fs-h1  u-fw-bold  u-c-typepad') typepad
  p(class='u-fs-h1  u-fw-bold  u-c-expression-engine') expression engine
  p(class='u-fs-h1  u-fw-bold  u-c-kirby') kirby
  p(class='u-fs-h1  u-fw-bold  u-c-moveabletype') moveabletype
  p(class='u-fs-h1  u-fw-bold  u-c-disqus') disqus
  p(class='u-fs-h1  u-fw-bold  u-c-html') html
.s-simple-code
  include ../code/utilities/colours.html