h1(class='s-simple-title u-fs-h5x') Display Utilities New
.s-simple-utilities.displays
  div(class='u-d-block')
    p
      code u-d-block
  div(class='u-d-inline')
    p
      code u-d-inline
  div(class='u-d-inline-block')
    p
      code u-d-inline-block
  div(class='u-d-table')
    p
      code u-d-table
  div(class='u-d-table-cell')
    p
      code u-d-table-cell
  div(class='u-d-flex')
    p
      code u-d-flex
.s-simple-code
  include ../code/utilities/display.html