h1(class='s-simple-title  u-fs-h5x') Font Styles Utilities 2.0
h2.s-simple-title--sub Font Style
.s-simple-utilities.fonts
  p(class='u-fs-normal') font-style: normal
  p(class='u-fs-italic') font-style: italic
  p(class='u-fs-oblique') font-style: oblique
.s-simple-code
  include ../code/utilities/colours.html