h1(class='s-simple-title u-fs-h5x') Rounded Utilities 2.0
h2.s-simple-title--sub Rounded Circle
.s-simple-utilities.rounded(class='u-cf')
  div(class="u-d-block  u-r-circle" style='height:200px; width:200px;')
    span
      code u-r-cirle
h2.s-simple-title--sub Rounded All
.s-simple-utilities.rounded(class='u-cf')
  div(class="u-d-block  u-r-all" style='height:200px; width:200px;')
    span
      code u-r-all
h2.s-simple-title--sub Rounded Top
.s-simple-utilities.rounded(class='u-cf')
  div(class="u-d-block  u-r-top" style='height:200px; width:200px;')
    span
      code u-r-top
h2.s-simple-title--sub Rounded Left
.s-simple-utilities.rounded(class='u-cf')
  div(class="u-d-block  u-r-left" style='height:200px; width:200px;')
    span
      code u-r-left
h2.s-simple-title--sub Rounded Right
.s-simple-utilities.rounded(class='u-cf')
  div(class="u-d-block  u-r-right" style='height:200px; width:200px;')
    span
      code u-r-right
h2.s-simple-title--sub Rounded Bottom
.s-simple-utilities.rounded(class='u-cf')
  div(class="u-d-block  u-r-bottom" style='height:200px; width:200px;')
    span
      code u-r-bottom
h2.s-simple-title--sub Rounded Top Left
.s-simple-utilities.rounded(class='u-cf')
  div(class="u-d-block  u-r-tl" style='height:200px; width:200px;')
    span
      code u-r-tl
h2.s-simple-title--sub Rounded Top Right
.s-simple-utilities.rounded(class='u-cf')
  div(class="u-d-block  u-r-tr" style='height:200px; width:200px;')
    span
      code u-r-tr
h2.s-simple-title--sub Rounded Bottom Left
.s-simple-utilities.rounded(class='u-cf')
  div(class="u-d-block  u-r-bl" style='height:200px; width:200px;')
    span
      code u-r-bl
h2.s-simple-title--sub Rounded Bottom Right
.s-simple-utilities.rounded(class='u-cf')
  div(class="u-d-block  u-r-br" style='height:200px; width:200px;')
    span
      code u-r-br
h2.s-simple-title--sub Rounded Reset
.s-simple-utilities.rounded(class='u-cf u-p-relative')
    div(class="u-d-block  u-r-circle  u-p-absolute" style='height:200px; width:200px;')
    div(class="u-d-block  u-r-circle  u-r-reset" style='height:200px; width:200px;')
      span
        code u-r-reset
.s-simple-code
  include ../code/utilities/colours.html