h1(class='s-simple-title  u-fs-h5x') States Utilities 2.0
div.s-simple-utilities.states
  a(class='o-btn  u-s-disable') disable state
  br
  a(class='o-btn  u-s-active') active state
  br
  a(class='o-btn  u-s-inform') inform state
.s-simple-code
  include ../code/utilities/states.html