h1(class='s-simple-title u-fs-h5x') Text Transform Utilities 2.0
h2.s-simple-title--sub Text Transform
.s-simple-utilities.typography
  p(class='u-tt-lower') Lorem ipsum dolor sit amet.
  p(class='u-tt-upper') Lorem ipsum dolor sit amet.
  p(class='u-tt-caps') Lorem ipsum dolor sit amet.
.s-simple-code
  include ../code/utilities/spaces.html
h2.s-simple-title--sub Text Align
.s-simple-utilities.text-alignment
  p(class='u-ta-left')
    span Left
    |  As most young candidates for the pains and penalties.
  p(class='u-ta-right')
    span Right
    |  Where else but from Nantucket did those aboriginal whalemen, the Red-Men.
  p(class='u-ta-center')
    span Center
    |  Now having a night, a day, and still another night following.
  p(class='u-ta-justify')
    span Justify
    |  So, wherever you go, Ishmael, said I to myself, as I stood in the middle. So, wherever you go, Ishmael, said I to myself, as I stood in the middle. So, wherever you go, Ishmael, said I to myself, as I stood in the middle.
.s-simple-code
  include ../code/utilities/spaces.html