h1(class='s-simple-title  u-fs-h5x') Utilities Vertical Align 2.0
div.s-simple-utilities.vertical-align
  div(class="u-d-table" style='height:100px;')
    div(class='u-d-table-cell  u-va-top')
      span top
div.s-simple-utilities.vertical-align
  div(class="u-d-table" style='height:100px;')
    div(class='u-d-table-cell  u-va-bottom')
      span bottom
div.s-simple-utilities.vertical-align
  div(class="u-d-table" style='height:100px;')
    div(class='u-d-table-cell  u-va-middle')
      span middle
div.s-simple-utilities.vertical-align
  div(class="u-d-table" style='height:100px;')
    div(class='u-d-table-cell  u-va-inherit')
      span inherit
.s-simple-code
  include ../code/utilities/spaces.html