h1(class='s-simple-title  u-fs-h5x') Alert Object
.s-simple-objects.alert
  .o-alert.o-alert--success
    p success alert
  .o-alert.o-alert--danger
    p danger alert
  .o-alert.o-alert--error
    p error alert
  .o-alert.o-alert--warning
    p warning alert
  .o-alert.o-alert--info
    p info alert
  .o-alert.o-alert--disable
    p disabled alert
.s-simple-code
  include ../code/objects/alert.html