h1(class='s-simple-title  u-h5x') Block List Object
h2.s-simple-title--sub Block List Unordered
.s-simple-objects.block-list
  ul.o-block-list
    li list
    li
      a(href="/").o-block-list__link another
    li another
    li another
h2.s-simple-title--sub Block List Definition
.s-simple-objects.block-list
  dl.o-block-list
    dt hell
    dd hell
    dt hell
    dd hell
    dt hell
    dd hell
h2.s-simple-title--sub Block List Unordered Bordered
.s-simple-objects.block-list
  ul.o-block-list.o-block-list--bordered
    li above
    li
      a(href="/").o-block-list__link another
    li asdfas
    li asdfa
h2.s-simple-title--sub Block List Definition Bordered
.s-simple-objects.block-list
  dl.o-block-list.o-block-list--bordered
    dt hell
    dd hell
    dt hell
    dd hell
    dt hell
    dd hell
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html