h1(class='s-simple-title  u-fs-h5x') Button Groups Object
h2.s-simple-title--sub Button Groups
.s-simple-objects.group-buttons
  .o-btn-group(role='group', aria-label='...')
    button(type='button') Left
    button(type='button') Middle
    button(type='button') Right
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Button Groups
.s-simple-objects.group-buttons
  .o-btn-group(role='group', aria-label='...')
    button.o-btn(type='button') Left
    button.o-btn(type='button') Middle
    button.o-btn(type='button') Right
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Button Groups
.s-simple-objects.group-buttons
  .o-btn-group(class="rounded" role='group', aria-label='...')
    button.o-btn(type='button') left
    button.o-btn(type='button') Middle
    button.o-btn(type='button') Right
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Button Groups
.s-simple-objects.group-buttons
  .o-btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
    .o-btn-toolbar__group(role='group', aria-label='First group')
      button.o-btn(type='button') 1
      button.o-btn(type='button') 2
      button.o-btn(type='button') 3
      button.o-btn(type='button') 4
    .o-btn-toolbar__group(role='group', aria-label='Second group')
      button.o-btn(class="+active" type='button') 5
      button.o-btn(type='button') 6
      button.o-btn(type='button') 7
    .o-btn-toolbar__group(role='group', aria-label='Third group')
      button.o-btn(type='button') 8
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Button Groups Unstyled
.s-simple-objects.group-buttons
  ul(class='o-nav  o-btn-group  +u-unstyled' role='group', aria-label='...')
    li
      a.o-btn(role='') Left
    li
      a.o-btn(role='') Middle
    li
      a.o-btn(role='') Right
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html