h1(class='s-simple-title  u-fs-h5x') Figure
h2.s-simple-title--sub Figure (default)
.s-simple-objects.figure
  figure.o-figure
    img(src= "http://placehold.it/200")
    figcaption.o-figure__caption Lorem ipsum dolor sit amet
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Figure with Rounded Image
.s-simple-objects.figure
  figure.o-figure
    img(class='u-r-all' src= "http://placehold.it/200")
    figcaption.o-figure__caption Lorem ipsum dolor sit amet
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Figure with Round Image
.s-simple-objects.figure
  figure.o-figure
    img(class='u-r-circle' src= "http://placehold.it/200")
    figcaption.o-figure__caption Lorem ipsum dolor sit amet
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html