h1(class='s-simple-title  u-fs-h5x') Flag Object
h2.s-simple-title--sub Flag Default
.s-simple-objects.flags
  .o-flag
    .o-flag__image
      img(src="http://placehold.it/100", alt="")
    .o-flag__body
      h1 Flag Body - Default
      p A flag is a piece of fabric (most often rectangular or quadrilateral) with a distinctive design that is used as a symbol, as a signaling device, or as decoration. The term flag is also used to refer to the graphic design employed by a flag, or to its depiction in another medium.

      p The first flags were used to assist military co-ordination on battlefields, and flags have since evolved into a general tool for rudimentary signalling and identification, especially in environments where communication is similarly challenging (such as the maritime environment where semaphore is used). National flags are potent patriotic symbols with varied wide-ranging interpretations, often including strong military associations due to their original and ongoing military uses. Flags are also used in messaging, advertising, or for other decorative purposes. The study of flags is known as vexillology, from the Latin word vexillum, meaning flag or banner.

      p Due to the use of flags by military units, "flag" is also used as the name of some military units. A flag (Arabic: لواء) is equivalent to a brigade in Arab countries, and in Spain, a flag (Spanish: bandera) is a battalion-equivalent in the Spanish Legion.
h2.s-simple-title--sub Flag Default
.s-simple-objects.flags
  div(class='o-flag')
    .o-flag__image
      img(src="http://placehold.it/400", alt="")
    .o-flag__body
      h1 Flag Body - Default
      p A flag is a piece of fabric (most often rectangular or quadrilateral) with a distinctive design that is used as a symbol, as a signaling device, or as decoration. The term flag is also used to refer to the graphic design employed by a flag, or to its depiction in another medium.

      p The first flags were used to assist military co-ordination on battlefields, and flags have since evolved into a general tool for rudimentary signalling and identification, especially in environments where communication is similarly challenging (such as the maritime environment where semaphore is used). National flags are potent patriotic symbols with varied wide-ranging interpretations, often including strong military associations due to their original and ongoing military uses. Flags are also used in messaging, advertising, or for other decorative purposes. The study of flags is known as vexillology, from the Latin word vexillum, meaning flag or banner.

      p Due to the use of flags by military units, "flag" is also used as the name of some military units. A flag (Arabic: لواء) is equivalent to a brigade in Arab countries, and in Spain, a flag (Spanish: bandera) is a battalion-equivalent in the Spanish Legion.
h2.s-simple-title--sub Flag Reversed
.s-simple-objects.flags
  .o-flag.o-flag--right
    .o-flag__body
      h1 Flag Body - Default Image Rev
      p A flag is a piece of fabric (most often rectangular or quadrilateral) with a distinctive design that is used as a symbol, as a signaling device, or as decoration. The term flag is also used to refer to the graphic design employed by a flag, or to its depiction in another medium.

      p The first flags were used to assist military co-ordination on battlefields, and flags have since evolved into a general tool for rudimentary signalling and identification, especially in environments where communication is similarly challenging (such as the maritime environment where semaphore is used). National flags are potent patriotic symbols with varied wide-ranging interpretations, often including strong military associations due to their original and ongoing military uses. Flags are also used in messaging, advertising, or for other decorative purposes. The study of flags is known as vexillology, from the Latin word vexillum, meaning flag or banner.

      p Due to the use of flags by military units, "flag" is also used as the name of some military units. A flag (Arabic: لواء) is equivalent to a brigade in Arab countries, and in Spain, a flag (Spanish: bandera) is a battalion-equivalent in the Spanish Legion.
    .o-flag__image
      img(src="http://placehold.it/200", alt="")
h2.s-simple-title--sub Flag Both Top
.s-simple-objects.flags
  div(class='o-flag')
    .o-flag__image.o-flag__image--top
      img(src="http://placehold.it/800", alt="")
    .o-flag__body.o-flag__body--top
      h1 Flag Body - Image Top
      p A flag is a piece of fabric (most often rectangular or quadrilateral) with a distinctive design that is used as a symbol, as a signaling device, or as decoration. The term flag is also used to refer to the graphic design employed by a flag, or to its depiction in another medium.

      p The first flags were used to assist military co-ordination on battlefields, and flags have since evolved into a general tool for rudimentary signalling and identification, especially in environments where communication is similarly challenging (such as the maritime environment where semaphore is used). National flags are potent patriotic symbols with varied wide-ranging interpretations, often including strong military associations due to their original and ongoing military uses. Flags are also used in messaging, advertising, or for other decorative purposes. The study of flags is known as vexillology, from the Latin word vexillum, meaning flag or banner.

      p Due to the use of flags by military units, "flag" is also used as the name of some military units. A flag (Arabic: لواء) is equivalent to a brigade in Arab countries, and in Spain, a flag (Spanish: bandera) is a battalion-equivalent in the Spanish Legion.
h2.s-simple-title--sub Flag Image Bottom
.s-simple-objects.flags
  div(class='o-flag')
    .o-flag__image.o-flag__image--bottom
      img(src="http://placehold.it/400", alt="")
    .o-flag__body
      h1 Flag Body - Image Bottom
      p A flag is a piece of fabric (most often rectangular or quadrilateral) with a distinctive design that is used as a symbol, as a signaling device, or as decoration. The term flag is also used to refer to the graphic design employed by a flag, or to its depiction in another medium.

      p The first flags were used to assist military co-ordination on battlefields, and flags have since evolved into a general tool for rudimentary signalling and identification, especially in environments where communication is similarly challenging (such as the maritime environment where semaphore is used). National flags are potent patriotic symbols with varied wide-ranging interpretations, often including strong military associations due to their original and ongoing military uses. Flags are also used in messaging, advertising, or for other decorative purposes. The study of flags is known as vexillology, from the Latin word vexillum, meaning flag or banner.

      p Due to the use of flags by military units, "flag" is also used as the name of some military units. A flag (Arabic: لواء) is equivalent to a brigade in Arab countries, and in Spain, a flag (Spanish: bandera) is a battalion-equivalent in the Spanish Legion.
h2.s-simple-title--sub Flag Both Top
.s-simple-objects.flags
  div(class='o-flag')
    .o-flag__image.o-flag__image--top
      img(src="http://placehold.it/700", alt="")
    .o-flag__body.o-flag__image--top
      h1 Flag Body Top
      p A flag is a piece of fabric (most often rectangular or quadrilateral) with a distinctive design that is used as a symbol, as a signaling device, or as decoration. The term flag is also used to refer to the graphic design employed by a flag, or to its depiction in another medium.

      p The first flags were used to assist military co-ordination on battlefields, and flags have since evolved into a general tool for rudimentary signalling and identification, especially in environments where communication is similarly challenging (such as the maritime environment where semaphore is used). National flags are potent patriotic symbols with varied wide-ranging interpretations, often including strong military associations due to their original and ongoing military uses. Flags are also used in messaging, advertising, or for other decorative purposes. The study of flags is known as vexillology, from the Latin word vexillum, meaning flag or banner.

      p Due to the use of flags by military units, "flag" is also used as the name of some military units. A flag (Arabic: لواء) is equivalent to a brigade in Arab countries, and in Spain, a flag (Spanish: bandera) is a battalion-equivalent in the Spanish Legion.
h2.s-simple-title--sub Flag Body Bottom
.s-simple-objects.flags
  div(class='o-flag')
    .o-flag__image
      img(src="http://placehold.it/350", alt="")
    .o-flag__body.o-flag__image--bottom
      h1 Flag Body Bottom
      p A flag is a piece of fabric (most often rectangular or quadrilateral) with a distinctive design that is used as a symbol, as a signaling device, or as decoration. The term flag is also used to refer to the graphic design employed by a flag, or to its depiction in another medium.

      p The first flags were used to assist military co-ordination on battlefields, and flags have since evolved into a general tool for rudimentary signalling and identification, especially in environments where communication is similarly challenging (such as the maritime environment where semaphore is used). National flags are potent patriotic symbols with varied wide-ranging interpretations, often including strong military associations due to their original and ongoing military uses. Flags are also used in messaging, advertising, or for other decorative purposes. The study of flags is known as vexillology, from the Latin word vexillum, meaning flag or banner.

      p Due to the use of flags by military units, "flag" is also used as the name of some military units. A flag (Arabic: لواء) is equivalent to a brigade in Arab countries, and in Spain, a flag (Spanish: bandera) is a battalion-equivalent in the Spanish Legion.
