h1(class='s-simple-title  u-fs-h5x') Icon Fonts
.s-simple-objects.icon-fonts
  div
    i(class='o-icon  i-octicons-alert')
    i(class='o-icon  i-octicons-alignment-align')
    i(class='o-icon  i-octicons-alignment-aligned-to')
    i(class='o-icon  i-octicons-alignment-unalign')
    i(class='o-icon  i-octicons-arrow-down')
    i(class='o-icon  i-octicons-arrow-left')
    i(class='o-icon  i-octicons-arrow-right')
    i(class='o-icon  i-octicons-arrow-small-down')
    i(class='o-icon  i-octicons-arrow-small-left')
    i(class='o-icon  i-octicons-arrow-small-right')
    i(class='o-icon  i-octicons-arrow-small-up')
    i(class='o-icon  i-octicons-arrow-up')
    i(class='o-icon  i-octicons-beer')
    i(class='o-icon  i-octicons-book')
    i(class='o-icon  i-octicons-bookmark')
    i(class='o-icon  i-octicons-briefcase')
    i(class='o-icon  i-octicons-broadcast')
    i(class='o-icon  i-octicons-browser')
    i(class='o-icon  i-octicons-bug')
    i(class='o-icon  i-octicons-calendar')
    i(class='o-icon  i-octicons-check')
    i(class='o-icon  i-octicons-checklist')
    i(class='o-icon  i-octicons-chevron-down')
    i(class='o-icon  i-octicons-chevron-left')
    i(class='o-icon  i-octicons-chevron-right')
    i(class='o-icon  i-octicons-chevron-up')
    i(class='o-icon  i-octicons-circle-slash')
    i(class='o-icon  i-octicons-circuit-board')
    i(class='o-icon  i-octicons-clippy')
    i(class='o-icon  i-octicons-clock')
    i(class='o-icon  i-octicons-cloud-download')
    i(class='o-icon  i-octicons-cloud-upload')
    i(class='o-icon  i-octicons-code')
    i(class='o-icon  i-octicons-color-mode')
    i(class='o-icon  i-octicons-comment')
    i(class='o-icon  i-octicons-comment-discussion')
    i(class='o-icon  i-octicons-credit-card')
    i(class='o-icon  i-octicons-dash')
    i(class='o-icon  i-octicons-dashboard')
    i(class='o-icon  i-octicons-database')
    i(class='o-icon  i-octicons-device-camera')
    i(class='o-icon  i-octicons-device-camera-video')
    i(class='o-icon  i-octicons-device-desktop')
    i(class='o-icon  i-octicons-device-mobile')
    i(class='o-icon  i-octicons-diff')
    i(class='o-icon  i-octicons-diff-added')
    i(class='o-icon  i-octicons-diff-ignored')
    i(class='o-icon  i-octicons-diff-modified')
    i(class='o-icon  i-octicons-diff-removed')
    i(class='o-icon  i-octicons-diff-renamed')
    i(class='o-icon  i-octicons-ellipsis')
    i(class='o-icon  i-octicons-eye')
    i(class='o-icon  i-octicons-file-binary')
    i(class='o-icon  i-octicons-file-code')
    i(class='o-icon  i-octicons-file-directory')
    i(class='o-icon  i-octicons-file-media')
    i(class='o-icon  i-octicons-file-pdf')
    i(class='o-icon  i-octicons-file-submodule')
    i(class='o-icon  i-octicons-file-symlink-directory')
    i(class='o-icon  i-octicons-file-symlink-file')
    i(class='o-icon  i-octicons-file-text')
    i(class='o-icon  i-octicons-file-zip')
    i(class='o-icon  i-octicons-flame')
    i(class='o-icon  i-octicons-fold')
    i(class='o-icon  i-octicons-gear')
    i(class='o-icon  i-octicons-gift')
    i(class='o-icon  i-octicons-gist')
    i(class='o-icon  i-octicons-gist-secret')
    i(class='o-icon  i-octicons-git-branch')
    i(class='o-icon  i-octicons-git-commit')
    i(class='o-icon  i-octicons-git-compare')
    i(class='o-icon  i-octicons-git-merge')
    i(class='o-icon  i-octicons-git-pull-request')
    i(class='o-icon  i-octicons-globe')
    i(class='o-icon  i-octicons-graph')
    i(class='o-icon  i-octicons-heart')
    i(class='o-icon  i-octicons-history')
    i(class='o-icon  i-octicons-home')
    i(class='o-icon  i-octicons-horizontal-rule')
    i(class='o-icon  i-octicons-hourglass')
    i(class='o-icon  i-octicons-hubot')
    i(class='o-icon  i-octicons-inbox')
    i(class='o-icon  i-octicons-info')
    i(class='o-icon  i-octicons-issue-closed')
    i(class='o-icon  i-octicons-issue-opened')
    i(class='o-icon  i-octicons-issue-reopened')
    i(class='o-icon  i-octicons-jersey')
    i(class='o-icon  i-octicons-jump-down')
    i(class='o-icon  i-octicons-jump-left')
    i(class='o-icon  i-octicons-jump-right')
    i(class='o-icon  i-octicons-jump-up')
    i(class='o-icon  i-octicons-key')
    i(class='o-icon  i-octicons-keyboard')
    i(class='o-icon  i-octicons-law')
    i(class='o-icon  i-octicons-light-bulb')
    i(class='o-icon  i-octicons-link')
    i(class='o-icon  i-octicons-link-external')
    i(class='o-icon  i-octicons-list-ordered')
    i(class='o-icon  i-octicons-list-unordered')
    i(class='o-icon  i-octicons-location')
    i(class='o-icon  i-octicons-lock')
    i(class='o-icon  i-octicons-logo-github')
    i(class='o-icon  i-octicons-mail')
    i(class='o-icon  i-octicons-mail-read')
    i(class='o-icon  i-octicons-mail-reply')
    i(class='o-icon  i-octicons-mark-github')
    i(class='o-icon  i-octicons-markdown')
    i(class='o-icon  i-octicons-megaphone')
    i(class='o-icon  i-octicons-mention')
    i(class='o-icon  i-octicons-microscope')
    i(class='o-icon  i-octicons-milestone')
    i(class='o-icon  i-octicons-mirror')
    i(class='o-icon  i-octicons-mortar-board')
    i(class='o-icon  i-octicons-move-down')
    i(class='o-icon  i-octicons-move-left')
    i(class='o-icon  i-octicons-move-right')
    i(class='o-icon  i-octicons-move-up')
    i(class='o-icon  i-octicons-mute')
    i(class='o-icon  i-octicons-no-newline')
    i(class='o-icon  i-octicons-octoface')
    i(class='o-icon  i-octicons-organization')
    i(class='o-icon  i-octicons-package')
    i(class='o-icon  i-octicons-paintcan')
    i(class='o-icon  i-octicons-pencil')
    i(class='o-icon  i-octicons-person')
    i(class='o-icon  i-octicons-pin')
    i(class='o-icon  i-octicons-playback-fast-forward')
    i(class='o-icon  i-octicons-playback-pause')
    i(class='o-icon  i-octicons-playback-play')
    i(class='o-icon  i-octicons-playback-rewind')
    i(class='o-icon  i-octicons-plug')
    i(class='o-icon  i-octicons-plus')
    i(class='o-icon  i-octicons-podium')
    i(class='o-icon  i-octicons-primitive-dot')
    i(class='o-icon  i-octicons-primitive-square')
    i(class='o-icon  i-octicons-pulse')
    i(class='o-icon  i-octicons-puzzle')
    i(class='o-icon  i-octicons-question')
    i(class='o-icon  i-octicons-quote')
    i(class='o-icon  i-octicons-radio-tower')
    i(class='o-icon  i-octicons-repo')
    i(class='o-icon  i-octicons-repo-clone')
    i(class='o-icon  i-octicons-repo-force-push')
    i(class='o-icon  i-octicons-repo-forked')
    i(class='o-icon  i-octicons-repo-pull')
    i(class='o-icon  i-octicons-repo-push')
    i(class='o-icon  i-octicons-rocket')
    i(class='o-icon  i-octicons-rss')
    i(class='o-icon  i-octicons-ruby')
    i(class='o-icon  i-octicons-screen-full')
    i(class='o-icon  i-octicons-screen-normal')
    i(class='o-icon  i-octicons-search')
    i(class='o-icon  i-octicons-server')
    i(class='o-icon  i-octicons-settings')
    i(class='o-icon  i-octicons-sign-in')
    i(class='o-icon  i-octicons-sign-out')
    i(class='o-icon  i-octicons-split')
    i(class='o-icon  i-octicons-squirrel')
    i(class='o-icon  i-octicons-star')
    i(class='o-icon  i-octicons-steps')
    i(class='o-icon  i-octicons-stop')
    i(class='o-icon  i-octicons-sync')
    i(class='o-icon  i-octicons-tag')
    i(class='o-icon  i-octicons-telescope')
    i(class='o-icon  i-octicons-terminal')
    i(class='o-icon  i-octicons-three-bars')
    i(class='o-icon  i-octicons-tools')
    i(class='o-icon  i-octicons-trashcan')
    i(class='o-icon  i-octicons-triangle-down')
    i(class='o-icon  i-octicons-triangle-left')
    i(class='o-icon  i-octicons-triangle-right')
    i(class='o-icon  i-octicons-triangle-up')
    i(class='o-icon  i-octicons-unfold')
    i(class='o-icon  i-octicons-unmute')
    i(class='o-icon  i-octicons-versions')
    i(class='o-icon  i-octicons-x')
    i(class='o-icon  i-octicons-zap')
.s-simple-objects.icon-fonts
  div
    i(class='o-icon  i-feather-square-minus')
    i(class='o-icon  i-feather-eye')
    i(class='o-icon  i-feather-paper-clip')
    i(class='o-icon  i-feather-mail')
    i(class='o-icon  i-feather-toggle')
    i(class='o-icon  i-feather-layout')
    i(class='o-icon  i-feather-link')
    i(class='o-icon  i-feather-bell')
    i(class='o-icon  i-feather-lock')
    i(class='o-icon  i-feather-unlock')
    i(class='o-icon  i-feather-ribbon')
    i(class='o-icon  i-feather-image')
    i(class='o-icon  i-feather-signal')
    i(class='o-icon  i-feather-target')
    i(class='o-icon  i-feather-clipboard')
    i(class='o-icon  i-feather-clock')
    i(class='o-icon  i-feather-watch')
    i(class='o-icon  i-feather-air-play')
    i(class='o-icon  i-feather-camera')
    i(class='o-icon  i-feather-video')
    i(class='o-icon  i-feather-disc')
    i(class='o-icon  i-feather-printer')
    i(class='o-icon  i-feather-monitor')
    i(class='o-icon  i-feather-server')
    i(class='o-icon  i-feather-cog')
    i(class='o-icon  i-feather-heart')
    i(class='o-icon  i-feather-paragraph')
    i(class='o-icon  i-feather-align-justify')
    i(class='o-icon  i-feather-align-left')
    i(class='o-icon  i-feather-align-center')
    i(class='o-icon  i-feather-align-right')
    i(class='o-icon  i-feather-book')
    i(class='o-icon  i-feather-layers')
    i(class='o-icon  i-feather-stack')
    i(class='o-icon  i-feather-stack-2')
    i(class='o-icon  i-feather-paper')
    i(class='o-icon  i-feather-paper-stack')
    i(class='o-icon  i-feather-search')
    i(class='o-icon  i-feather-zoom-in')
    i(class='o-icon  i-feather-zoom-out')
    i(class='o-icon  i-feather-reply')
    i(class='o-icon  i-feather-circle-plus')
    i(class='o-icon  i-feather-circle-minus')
    i(class='o-icon  i-feather-circle-check')
    i(class='o-icon  i-feather-circle-cross')
    i(class='o-icon  i-feather-square-plus')
    i(class='o-icon  i-feather-square-minus')
    i(class='o-icon  i-feather-square-check')
    i(class='o-icon  i-feather-square-cross')
    i(class='o-icon  i-feather-microphone')
    i(class='o-icon  i-feather-record')
    i(class='o-icon  i-feather-skip-back')
    i(class='o-icon  i-feather-rewind')
    i(class='o-icon  i-feather-play')
    i(class='o-icon  i-feather-pause')
    i(class='o-icon  i-feather-stop')
    i(class='o-icon  i-feather-fast-forward')
    i(class='o-icon  i-feather-skip-forward')
    i(class='o-icon  i-feather-shuffle')
    i(class='o-icon  i-feather-repeat')
    i(class='o-icon  i-feather-folder')
    i(class='o-icon  i-feather-umbrella')
    i(class='o-icon  i-feather-moon')
    i(class='o-icon  i-feather-thermometer')
    i(class='o-icon  i-feather-drop')
    i(class='o-icon  i-feather-sun')
    i(class='o-icon  i-feather-cloud')
    i(class='o-icon  i-feather-cloud-upload')
    i(class='o-icon  i-feather-cloud-download')
    i(class='o-icon  i-feather-upload')
    i(class='o-icon  i-feather-download')
    i(class='o-icon  i-feather-location')
    i(class='o-icon  i-feather-location-2')
    i(class='o-icon  i-feather-map')
    i(class='o-icon  i-feather-battery')
    i(class='o-icon  i-feather-head')
    i(class='o-icon  i-feather-briefcase')
    i(class='o-icon  i-feather-speech-bubble')
    i(class='o-icon  i-feather-anchor')
    i(class='o-icon  i-feather-globe')
    i(class='o-icon  i-feather-box')
    i(class='o-icon  i-feather-reload')
    i(class='o-icon  i-feather-share')
    i(class='o-icon  i-feather-marquee')
    i(class='o-icon  i-feather-marquee-plus')
    i(class='o-icon  i-feather-marquee-minus')
    i(class='o-icon  i-feather-tag')
    i(class='o-icon  i-feather-power')
    i(class='o-icon  i-feather-command')
    i(class='o-icon  i-feather-alt')
    i(class='o-icon  i-feather-esc')
    i(class='o-icon  i-feather-bar-graph')
    i(class='o-icon  i-feather-bar-graph-2')
    i(class='o-icon  i-feather-pie-graph')
    i(class='o-icon  i-feather-star')
    i(class='o-icon  i-feather-arrow-left')
    i(class='o-icon  i-feather-arrow-right')
    i(class='o-icon  i-feather-arrow-up')
    i(class='o-icon  i-feather-arrow-down')
    i(class='o-icon  i-feather-volume')
    i(class='o-icon  i-feather-mute')
    i(class='o-icon  i-feather-content-right')
    i(class='o-icon  i-feather-content-left')
    i(class='o-icon  i-feather-grid')
    i(class='o-icon  i-feather-grid-2')
    i(class='o-icon  i-feather-columns')
    i(class='o-icon  i-feather-loader')
    i(class='o-icon  i-feather-bag')
    i(class='o-icon  i-feather-ban')
    i(class='o-icon  i-feather-flag')
    i(class='o-icon  i-feather-trash')
    i(class='o-icon  i-feather-expand')
    i(class='o-icon  i-feather-contract')
    i(class='o-icon  i-feather-maximize')
    i(class='o-icon  i-feather-minimize')
    i(class='o-icon  i-feather-plus')
    i(class='o-icon  i-feather-minus')
    i(class='o-icon  i-feather-check')
    i(class='o-icon  i-feather-cross')
    i(class='o-icon  i-feather-move')
    i(class='o-icon  i-feather-delete')
    i(class='o-icon  i-feather-menu')
    i(class='o-icon  i-feather-archive')
    i(class='o-icon  i-feather-inbox')
    i(class='o-icon  i-feather-outbox')
    i(class='o-icon  i-feather-file')
    i(class='o-icon  i-feather-file-add')
    i(class='o-icon  i-feather-file-subtract')
    i(class='o-icon  i-feather-help')
    i(class='o-icon  i-feather-open')
    i(class='o-icon  i-feather-ellipsis')