h1(class='s-simple-title  u-fs-h5x') Loaders Object
h2.s-simple-title--sub Spinner
.s-simple-objects.loaders
  .o-spinner
    | Loading...
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html