h1(class='s-simple-title  u-fs-h5x') Matrix Object
h2.s-simple-title--sub Matrix Two
.s-simple-objects.matrix
  ul.o-matrix.--two
    li.o-matrix__full Lorem
    li.o-matrix__full
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
    li Amet
    li.o-matrix__full Consectetuer
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Matrix Three
.s-simple-objects.matrix
  ul.o-matrix.--three
    li.o-matrix__full Lorem
    li
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
    li Amet
    li.all-cols Consectetuer
    li
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Matrix Four
.s-simple-objects.matrix
  ul.o-matrix.--four
    li.o-matrix__full Lorem
    li
      a.o-matrix__link(href='#') Site
    li
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
    li Amet
    li.o-matrix__full Consectetuer
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Matrix Five
.s-simple-objects.matrix
  ul.o-matrix.--five
    li.o-matrix__full Lorem
    li
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
    li
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
    li Amet
    li.o-matrix__full Consectetuer
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html