h1(class='s-simple-title  u-fs-h5x') Pagination Object
h2.s-simple-title--sub Default
.s-simple-objects.pagination
  ol.o-nav.o-pagination
    li.o-pagination__first
      a(class='o-btn' href='/') First
    li
      a(class='o-btn' href='/') 1
    li
      a(class='o-btn' href='/') 2
    li
      a(class='o-btn +active' href='/') 3
    li
      a(class='o-btn' href='/') 4
    li
      a(class='o-btn' href='/') 5
    li.o-pagination__last
      a(class='o-btn' href='/') Last
.s-simple-code
  p this will be code
h2.s-simple-title--sub Pagination
.s-simple-objects.pagination
  ul.o-nav.o-pagination
    li.o-pagination__first
      a(href='/') First
    li.o-pagination__prev
       a(href='/') Previous
    li
      a(href='/') 1
    li
      a(href='/page/2') 2
    li.current
      a(href='/page/3') 3
    li
      a(href='/page/4') 4
    li
      a(href='/page/5') 5
    li.o-pagination__next
      a(href='/') Next
    li.o-pagination__last
      a(href='/') Last
.s-simple-code
  p this will be code