h1(class='s-simple-title  u-fs-h5x') Tabs Object
h2.s-simple-title--sub Tabs Left (Default)
div.s-simple-objects.tabs
  ul.o-tabs(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(href='http://www.unvisted.io') Tab 1
    li
      a.o-btn(href='https://twitter.com') Tab 2
    li
      a.o-btn(href='http://www.unvisted.io') Tab 3
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Tabs Right
div.s-simple-objects.tabs
  ul.o-tabs.o-tabs--right(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(href='https://twitter.com') Tab 1
    li
      a.o-btn(href='http://www.unvisted.io') Tab 2
    li
      a.o-btn(href='http://www.unvisted.io') Tab 3
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Tabs Center
div.s-simple-objects.tabs
  ul.o-tabs.o-tabs--centered(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(href='https://twitter.com') Tab 1
    li
      a.o-btn(href='https://twitter.com') Tab 2
    li
      a.o-btn(href='http://www.unvisted.io') Tab 3
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html
h2.s-simple-title--sub Tabs Center with States
div.s-simple-objects.tabs
  ul.o-tabs.o-tabs--centered(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(class="+u-s-disable" href='https://twitter.com') Tab Disable State
    li
      a.o-btn(class="+u-s-active" href='https://twitter.com') Tab Active State
    li
      a.o-btn( href='http://www.unvisted.io') Tab 3
    li
      a.o-btn(class="+u-s-inform" href='http://www.unvisted.io') Tab Inform State
.s-simple-code
  include ../code/highlight/highlight-code-javascript.html