h1(class='s-simple-title u-fs-h5x') This or This Object
h2.s-simple-title--sub This or This Default
.s-simple-objects.this-that
  h1.o-this-or-this
    a(class='o-this-or-this__cols  u-w-2/5' href='#')
      | Free
    span(class='o-this-or-this__cols  u-w-1/5')
      | or
    a(class='o-this-or-this__cols  u-w-2/5' href='#')
      | Pro
.s-simple-code
  p this will be code
h2.s-simple-title--sub This or This
.s-simple-objects.this-that
  .o-this-or-this
    p(class='o-this-or-this__cols  u-w-2/5')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    span(class='o-this-or-this__cols  u-one-fifth')
      | or
    p(class='o-this-or-this__cols  u-w-2/5')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
.s-simple-code
  p this will be code
h2.s-simple-title--sub This or This
.s-simple-objects.this-that
  .o-this-or-this
    p(class='o-this-or-this__cols  u-w-2/8')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    span(class='o-this-or-this__cols  u-w-4/8')
      | or
    p(class='o-this-or-this__cols  u-w-2/8')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
.s-simple-code
  p this will be code
h2.s-simple-title--sub This or This
.s-simple-objects.this-that
  .o-this-or-this
    div(class='o-this-or-this__cols  u-w-3/8  u-bc-silver  u-i-p')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    span(class='o-this-or-this__cols  u-w-2/8')
      | or
    div(class='o-this-or-this__cols  u-w-3/8  u-bc-silver   u-i-p')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
.s-simple-code
  p this will be code