$use-base-media:	true !default;

@if $use-base-media == true{
/* ==========================================================================
   Base - Media
   ========================================================================== */

  img{
    display: block;
    vertical-align: bottom;
    -ms-interpolation-mode: bicubic;
  }

  // make fluid by default
  img, video, object {
    max-width: 100%;
    height: auto;
  }

}//end if